{
  "cooldownDuration" : 0.05,

  "energyResponses" : [
    {
      "threshold" : 0,
      "invulnerabilityDuration" : 0,
      "invulnerabilityMode" : "none",
      "knockbackMagnitude" : 10,
      "knockbackSkidDuration" : 0,
      "knockbackMode" : "normal",
      "knockbackAngle" : 15,
      "stunDuration" : 0,
      "stunMode" : "none"
    }
  ],

  "healthResponses" : [
    {
      "threshold" : 0,
      "invulnerabilityDuration" : 0,
      "invulnerabilityMode" : "none",
      "knockbackMagnitude" : 10,
      "knockbackSkidDuration" : 0,
      "knockbackMode" : "normal",
      "knockbackAngle" : 15,
      "stunDuration" : 0,
      "stunMode" : "none"
    },
    {
      "threshold" : 0.10,
      "invulnerabilityDuration" : 0,
      "invulnerabilityMode" : "none",
      "knockbackMagnitude" : 10,
      "knockbackSkidDuration" : 0.0,
      "knockbackMode" : "fixedIfStanding",
      "knockbackAngle" : 15,
      "stunDuration" : 0,
      "stunMode" : "none"
    },
    {
      "threshold" : 0.16,
      "invulnerabilityDuration" : 0,
      "invulnerabilityMode" : "none",
      "knockbackMagnitude" : 10,
      "knockbackSkidDuration" : 0.0,
      "knockbackMode" : "fixedIfStanding",
      "knockbackAngle" : 15,
      "stunDuration" : 0.0,
      "stunMode" : "none"
    },
    {
      "threshold" : 0.26,
      "invulnerabilityDuration" : 0,
      "invulnerabilityMode" : "none",
      "knockbackMagnitude" : 10,
      "knockbackSkidDuration" : 0.0,
      "knockbackMode" : "fixedIfStanding",
      "knockbackAngle" : 15,
      "stunDuration" : 0.0,
      "stunMode" : "flyStun"
    },
    {
      "threshold" : 0.0,
      "invulnerabilityDuration" : 0,
      "invulnerabilityMode" : "none",
      "knockbackMagnitude" : 10,
      "knockbackSkidDuration" : 0.0,
      "knockbackMode" : "fixedIfStanding",
      "knockbackAngle" : 15,
      "stunDuration" : 0.0,
      "stunMode" : "none"
    }
  ]
}
