{
  "cooldownDuration" : 0.05,

  "energyResponses" : [
    {
      "threshold" : 0,
      "invulnerabilityDuration" : 0,
      "invulnerabilityMode" : "none",
      "knockbackMagnitude" : 0,
      "knockbackSkidDuration" : 0,
      "knockbackMode" : "normal",
      "knockbackAngle" : 0,
      "stunDuration" : 0,
      "stunMode" : "none"
    },
    {
      "threshold" : 0.31,
      "invulnerabilityDuration" : 0,
      "invulnerabilityMode" : "none",
      "knockbackMagnitude" : 27,
      "knockbackSkidDuration" : 0.0,
      "knockbackMode" : "fixedIfStanding",
      "knockbackAngle" : 40,
      "stunDuration" : 0,
      "stunMode" : "none"
    }
  ],

  "healthResponses" : [
    {
      "threshold" : 0,
      "invulnerabilityDuration" : 0.0,
      "invulnerabilityMode" : "none",
      "knockbackMagnitude" : 0,
      "knockbackSkidDuration" : 0,
      "knockbackMode" : "normal",
      "knockbackAngle" : 0,
      "stunDuration" : 0,
      "stunMode" : "none"
    },
    {
      "threshold" : 0.06,
      "invulnerabilityDuration" : 0.0,
      "invulnerabilityMode" : "none",
      "knockbackMagnitude" : 27,
      "knockbackSkidDuration" : 0.1,
      "knockbackMode" : "fixedIfStanding",
      "knockbackAngle" : 0,
      "stunDuration" : 0,
      "stunMode" : "none"
    },
    {
      "threshold" : 0.16,
      "invulnerabilityDuration" : 0,
      "invulnerabilityMode" : "none",
      "knockbackMagnitude" : 42,
      "knockbackSkidDuration" : 0.2,
      "knockbackMode" : "fixedIfStanding",
      "knockbackAngle" : 0,
      "stunDuration" : 0.5,
      "stunMode" : "none"
    },
    {
      "threshold" : 0.26,
      "invulnerabilityDuration" : 0,
      "invulnerabilityMode" : "stunInvulnerability",
      "knockbackMagnitude" : 17,
      "knockbackSkidDuration" : 0.4,
      "knockbackMode" : "fixedIfStanding",
      "knockbackAngle" : 40,
      "stunDuration" : 0.8,
      "stunMode" : "flyStun"
    },
    {
      "threshold" : 0.51,
      "invulnerabilityDuration" : 0,
      "invulnerabilityMode" : "none",
      "knockbackMagnitude" : 27,
      "knockbackSkidDuration" : 0.5,
      "knockbackMode" : "fixedIfStanding",
      "knockbackAngle" : 40,
      "stunDuration" : 1.4,
      "stunMode" : "none"
    }
  ]
}
