{
  // In milliseconds
  "assetCleanupTimeout" : 10000,
  "cleanupTimeSmear" : 5000,

  "purgeableCacheLimit" : 128,
  "cacheLimitEvery" : 64,

  // In seconds, audio less than this long will be decompressed in memory.
  "audioDecompressLimit" : 4.0,

  "assetLoadingWarnTime" : 1.0,

  "workerPoolSize" : 2,

  "missingAssetsImage" : "/assetmissing.png",
  "missingAssetsAudio" : "/assetmissing.wav",

  "version" : "Enraged Koala 20140228"
}
