{
  "parenting" : [
    [ "StarApplicationBase::run.innerLoop", "" ],
    [ "StarApplicationBase::run.innerLoop.SDL_PollEvent", "" ],
    [ "StarApplicationBase::run.innerLoop.update", "" ],
    [ "StarApplicationBase::run.innerLoop.glClear", "" ],
    [ "StarApplicationBase::run.innerLoop.render", "" ],
    [ "StarApplicationBase::run.innerLoop.SDL_GL_SwapBuffers", "" ],
    [ "StarApplicationBase::run.innerLoop.sleeping", "" ],
    [ "ClientApplication::renderInit", "" ],
    [ "ClientApplication::renderDestroy", "" ],
    [ "ClientApplication::processInput", "" ],
    [ "ClientApplication::update", "" ],
    [ "ClientApplication::updateTitle", "" ],
    [ "ClientApplication::updateRunning", "" ],
    [ "ClientApplication::render", "" ],
    [ "ClientApplication::renderInit", "" ],
    [ "ClientApplication::renderDestroy", "" ],
    [ "ClientApplication::processInput", "" ],
    [ "ClientApplication::update", "" ],
    [ "ClientApplication::updateTitle", "" ],
    [ "ClientApplication::updateRunning", "" ],
    [ "ClientApplication::render", "" ],
    [ "MainInterface::update", "" ],
    [ "WorldRenderer::render", "" ],
    [ "WorldRenderer::updateLightMap", "" ],
    [ "WorldRenderer::updateLightMap.setColorMap", "" ],
    [ "WorldRenderer::renderParticles", "" ],
    [ "WorldRenderer::renderPerf", "" ],
    [ "Assets::getImage", "" ],
    [ "Assets::process", "" ],
    [ "Assets::image", "" ],
    [ "Assets::loadFromDisk", "" ],
    [ "DungeonGenerator::generateNearZero", "" ],
    [ "DungeonDefinition::buildDungeon", "" ],
    [ "MuzzleFlashEffect::update", "" ],
    [ "FlowingWaterAgent::update", "" ],
    [ "NPC::update", "" ],
    [ "NPCSpawner::step", "" ],
    [ "Object::update", "" ],
    [ "Player::update", "" ],
    [ "Projectile::update", "" ],
    [ "UniverseClient::update", "" ],
    [ "UniverseServer::WorldThread::run.innerLoop", "" ],
    [ "UniverseServer::WorldThread::run.innerLoop.update", "" ],
    [ "UniverseServer::WorldThread::run.innerLoop.clientsIncommingPackets", "" ],
    [ "UniverseServer::WorldThread::run.innerLoop.worldUpdate", "" ],
    [ "UniverseServer::WorldThread::run.innerLoop.clientsOutgoingPackets", "" ],
    [ "UniverseServer::WorldThread::run.innerLoop.sleeping", "" ],
    [ "WorldClient::update", "" ],
    [ "WorldClient::queueUpdatePackets", "" ],
    [ "WorldClient::updateLighting", "" ],
    [ "WorldServer::update", "" ],
    [ "WorldServer::Generator::generateTiles", "" ],
    [ "WorldServer::Generator::generateEntities", "" ],
    [ "WorldStorage::update", "" ],
    [ "ColorMapQuadRenderer::setColorMap", "" ]
  ]
}
