{
  "textureTimeout" : 10000,
  "autoCompressTimeout" : 100,

  "displayPerf" : false,
  "pixelRatio" : 2.0,

  // Weighting for the 2x2 smoothing pass.  Lighting from this cell is
  // given lightNearWeight, lighting from adjacent two cells of this corner
  // is given lightMidWeight, and lighting from the cell touching the
  // corner is given lightFarWeight.  lightNearWeight + 2 * lightMidWeight
  // + lightFarWeight should be equal to 1.0
  "lightNearWeight" : 0.5625,
  "lightMidWeight" : 0.1875,
  "lightFarWeight" : 0.0625,

  // Lighting difference of background layer as a whole
  "backgroundShadowing" : 0.5,

  // Additional lighting difference of regions near foreground blocks
  "shadow" : 0.6,
  "shadowEdge" : 0.8,
  "shadowTopEdge" : 0.8,
  "shadowCorner" : 0.9,

  "textParticleFontSize" : 9.0,

  "colorMultiplier" : 1.275,
  "colorMapPixellation" : 0.0
}
