{
  "serverProcessingGroupSteps" : 4,
  "blockDamageUpdateStep" : 0,
  "livingWorldUpdateStep" : 1,
  "worldStorageStep" : 2,

  "environmentUpdateStepDelta" : 20,

  "maxGenerationMillis" : 30,
  "maxStoreMillis" : 10,
  "sectorTTLMillis" : 15000,
  "generationQueueTTLMillis" : 500,

  "playerStartInitialGenRadius" : 80,
  "playerActiveRegionPad" : [50, 25],

  "explosionDisplacementProbability" : 0.2,
  "explosionDisplacementVelocity" : 40,

  "interpolationSettings" : {
    "normal" : {
      "interpolationEnabled" : false,
      "heartbeatDelta" : 3,
      "stepLead" : 6,
      "stepTrackFactor" : 0.05,
      "stepMaxDistance" : 120
    },

    "local" : {
      "interpolationEnabled" : false,
      "heartbeatDelta" : 2,
      "stepLead" : 4,
      "stepTrackFactor" : 0.05,
      "stepMaxDistance" : 120
    }
  },

  "spawnRegionSize" : [1.2, 4.5],
  "spawnRegionMaximumSearch" : 1000
}
