{
  "warpButtons" : {
    "warpToOrbited" : "OrbitedWorld",
    "warpToHome" : "HomeWorld"
  },

  "guiConfig" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/warpmenu/body.png",
      "fileFooter" : ""
    },
    "paneFeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "anchor" : "center",
      "positionLocked" : true
    },
    "verticalLayout" : {
      "type" : "layout",
      "layoutType" : "vertical",
      "rect" : [13, 0, 86, 110],
      "vAnchor" : "mid",
      "spacing" : 2,
      "children" : [
        {
          "name" : "warpToOrbited",
          "type" : "button",
          "base" : "/interface/warpmenu/currentup.png",
          "hover" : "/interface/warpmenu/current.png"
        },
        {
          "name" : "warpToHome",
          "type" : "button",
          "base" : "/interface/warpmenu/homeup.png",
          "hover" : "/interface/warpmenu/home.png"
        },
        {
          "name" : "dismiss",
          "type" : "button",
          "base" : "/interface/warpmenu/cancelUp.png",
          "hover" : "/interface/warpmenu/cancel.png"
        }
      ]
    }
  }
}
