{
  "lightTransparent" : true,
  "occludesBelow" : false,
  "multicolored" : <multicolored>,
  "zLevel" : <zlevel>,

  "pieces" : {
    "leftPlatform" : {
      "texture" : "<platformtexture>",
      "textureSize" : [8, 8],
      "texturePosition" : [0, 0],
      "colorStride" : [0, 8],
      "variants" : <platformvariants>,
      "variantStride" : [8, 0]
    },
    "midPlatform" : {
      "texture" : "<platformtexture>",
      "textureSize" : [8, 8],
      "texturePosition" : [<platformmidstart>, 0],
      "colorStride" : [0, 8],
      "variants" : <platformvariants>,
      "variantStride" : [8, 0]
    },
    "rightPlatform" : {
      "texture" : "<platformtexture>",
      "textureSize" : [8, 8],
      "texturePosition" : [<platformrightstart>, 0],
      "colorStride" : [0, 8],
      "variants" : <platformvariants>,
      "variantStride" : [8, 0]
    },
    "doublePlatform" : {
      "texture" : "<platformtexture>",
      "textureSize" : [8, 8],
      "texturePosition" : [<platformdoublestart>, 0],
      "colorStride" : [0, 8],
      "variants" : <platformvariants>,
      "variantStride" : [8, 0]
    },
    "leftStairs" : {
      "texture" : "<stairtexture>",
      "textureSize" : [16, 8],
      "colorStride" : [0, 24],
      "texturePosition" : [0, 0],
      "variants" : <stairvariants>
    },
    "rightStairs" : {
      "texture" : "<stairtexture>",
      "textureSize" : [16, 8],
      "colorStride" : [0, 8],
      "texturePosition" : [<stairrightstart>, 0],
      "variants" : <stairvariants>
    },
    "chunk" : {
      "texture" : "<platformtexture>",
      "textureSize" : [8, 8],
      "texturePosition" : [<platformdoublestart>, 0],
      "colorStride" : [0, 8],
      "variants" : <platformvariants>,
      "variantStride" : [8, 0]
    }
  },

  "rules" : {
    "EqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf"
        }
      ]
    },
    "ConnectableNotEqualsSelf" : {
      "entries" : [
        {
          "type" : "Connectable"
        },
        {
          "type" : "EqualsSelf",
          "inverse" : true
        }
      ]
    }
  },

  "matches" : [
    ["main", [
      {
        "matchAllPoints" : [
          [[-1, 0], "EqualsSelf"],
          [[1, 0], "EqualsSelf"]
        ],

        "pieces" : [["midPlatform", [0, 0]]]
      },
      {
        "matchAllPoints" : [
          [[-1, 0], "ConnectableNotEqualsSelf"],
          [[1, 0], "ConnectableNotEqualsSelf"]
        ],

        "pieces" : [["doublePlatform", [0, 0]]]
      },
      {
        "matchAllPoints" : [
          [[-1, 0], "ConnectableNotEqualsSelf"]
        ],

        "pieces" : [["leftPlatform", [0, 0]]]
      },
      {
        "matchAllPoints" : [
          [[1, 0], "ConnectableNotEqualsSelf"]
        ],

        "pieces" : [["rightPlatform", [0, 0]]]
      },

      {
        "matchAllPoints" : [
          [[-1, 1], "EqualsSelf"]
        ],

        "pieces" : [["leftStairs", [0, 0]]]
      },
      {
        "matchAllPoints" : [
          [[1, -1], "EqualsSelf"]
        ],

        "pieces" : [["leftStairs", [0, 0]]]
      },
      {
        "matchAllPoints" : [
          [[-1, -1], "EqualsSelf"]
        ],

        "pieces" : [["rightStairs", [0, 0]]]
      },
      {
        "matchAllPoints" : [
          [[1, 1], "EqualsSelf"]
        ],

        "pieces" : [["rightStairs", [0, 0]]]
      },


      {
        "pieces" : [["midPlatform", [0, 0]]]
      }
    ]]
  ]
}
