{
  "pieces" : {
    "vertical" : {
      "textureSize" : [10, 10],
      "texturePosition" : [0, 0],
      "colorStride" : [0, 10],
      "variantStride" : [20, 0]
    },
    "verticalTrim" : {
      "textureSize" : [10, 9],
      "texturePosition" : [0, 0],
      "colorStride" : [0, 10],
      "variantStride" : [20, 0]
    },
    "horizontal" : {
      "textureSize" : [10, 10],
      "texturePosition" : [10, 0],
      "colorStride" : [0, 10],
      "variantStride" : [20, 0]
    },
    "horizontalTrim" : {
      "textureSize" : [9, 10],
      "texturePosition" : [11, 0],
      "colorStride" : [0, 10],
      "variantStride" : [20, 0]
    }
  },

  "rules" : {
    "EqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf"
        }
      ]
    },
    "NotEqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf",
          "inverse" : true
        }
      ]
    },
    "Connects" : {
      "entries" : [
        {
          "type" : "Connects"
        }
      ]
    },
    "Empty" : {
      "entries" : [
        {
          "type" : "Connects",
          "inverse" : true
        }
      ]
    }
  },

  "matches" : [
    ["main", [
      {
        "matchAnyPoints" : [
          [[1, 0], "EqualsSelf"],
          [[-1, 0], "EqualsSelf"]
        ],
        "haltOnSubMatch" : true,
        "subMatches" : [
          {
            "matchAllPoints" : [
              [[-1, 0], "Connects"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["horizontalTrim", [0, -1]]]
          },
          {
            "pieces" : [["horizontal", [-1, -1]]]
          }
        ]
      },
      {
        "matchAnyPoints" : [
          [[0, 1], "EqualsSelf"],
          [[0, -1], "EqualsSelf"]
        ],
        "haltOnSubMatch" : true,
        "subMatches" : [
          {
            "matchAllPoints" : [
              [[0, -1], "Connects"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["verticalTrim", [-1, -1]]]
          },
          {
            "pieces" : [["vertical", [-1, -1]]]
          }
        ]
      },
      {
        "pieces" : [["horizontal", [-1, -1]]]
      }
    ]]
  ]
}