{
  "pieces" : {
    "leftPlatform" : {
      "textureSize" : [8, 8],
      "texturePosition" : [0, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    },
    "midPlatform" : {
      "textureSize" : [8, 8],
      "texturePosition" : [8, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    },
    "rightPlatform" : {
      "textureSize" : [8, 8],
      "texturePosition" : [16, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    },
    "doublePlatform" : {
      "textureSize" : [8, 8],
      "texturePosition" : [24, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    },
    "leftStairs" : {
      "textureSize" : [16, 8],
      "texturePosition" : [32, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    },
    "leftStairsTrim" : {
      "textureSize" : [10, 8],
      "texturePosition" : [38, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    },
    "leftStairBit" : {
      "textureSize" : [6, 4],
      "texturePosition" : [34, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    },
    "rightStairs" : {
      "textureSize" : [16, 8],
      "texturePosition" : [48, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    },
    "rightStairsTrim" : {
      "textureSize" : [10, 8],
      "texturePosition" : [48, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    },
    "rightStairBit" : {
      "textureSize" : [6, 4],
      "texturePosition" : [56, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    }
  },

  "rules" : {
    "EqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf"
        }
      ]
    },
    "NotEqualsSelf" : {
      "entries" : [
        {
          "type" : "EqualsSelf",
          "inverse" : true
        }
      ]
    },
    "Connects" : {
      "entries" : [
        {
          "type" : "Connects"
        }
      ]
    },
    "ConnectsOther" : {
      "entries" : [
        {
          "type" : "Connects"
        },
        {
          "type" : "EqualsSelf",
          "inverse" : true
        }
      ]
    },
    "Empty" : {
      "entries" : [
        {
          "type" : "Connects",
          "inverse" : true
        }
      ]
    }
  },

  "matches" : [
    ["main", [
      // stairs
      {
        "matchAnyPoints" : [
          [[0, 1], "NotEqualsSelf"],
          [[0, -1], "NotEqualsSelf"]
        ],
        "subMatches" : [
          // right ( // ) stairs
          {
            "matchAllPoints" : [
              [[-1, 0], "NotEqualsSelf"],
              [[-1, -1], "EqualsSelf"]
            ],
            "haltOnSubMatch": true,
            "subMatches" : [
              {
                "matchAnyPoints" : [
                  [[-1, 1], "NotEqualsSelf"],
                  [[1, -1], "NotEqualsSelf"]
                ],
                "haltOnSubMatch" : true,
                "subMatches" : [
                  {
                    "matchAllPoints" : [
                      [[0, -1], "Empty"]
                    ],
                    "pieces" : [["rightStairBit", [0, -4]]]
                  },
                  {
                    "matchAnyPoints" : [
                      [[1, 1], "NotEqualsSelf"],
                      [[1, 0], "Connects"]
                    ],
                    "haltOnMatch" : true,
                    "pieces" : [["rightStairsTrim", [0, 0]]]
                  },
                  {
                    "pieces" : [["rightStairs", [0, 0]]]
                  }
                ]
              }
            ]
          },

          // left ( \\ ) stairs
          {
            "matchAllPoints" : [
              [[1, 0], "NotEqualsSelf"],
              [[1, -1], "EqualsSelf"]
            ],
            "haltOnSubMatch": true,
            "subMatches" : [
              {
                "matchAnyPoints" : [
                  [[1, 1], "NotEqualsSelf"],
                  [[-1, -1], "NotEqualsSelf"]
                ],
                "haltOnSubMatch" : true,
                "subMatches" : [
                  {
                    "matchAllPoints" : [
                      [[0, -1], "Empty"]
                    ],
                    "pieces" : [["leftStairBit", [2, -4]]]
                  },
                  {
                    "matchAnyPoints" : [
                      [[-1, 1], "NotEqualsSelf"],
                      [[-1, 0], "Connects"]
                    ],
                    "haltOnMatch" : true,
                    "pieces" : [["leftStairsTrim", [-2, 0]]]
                  },
                  {
                    "pieces" : [["leftStairs", [-8, 0]]]
                  }
                ]
              }
            ]
          },
          // more stairs triggered from above
          {
            "matchAllPoints" : [
              [[1, 1], "EqualsSelf"],
              [[0, 1], "NotEqualsSelf"],
              [[-1, 1], "NotEqualsSelf"],
              [[1, 0], "NotEqualsSelf"],
              [[-1, 0], "NotEqualsSelf"]
            ],
            "haltOnSubMatch" : true,
            "subMatches" : [
              {
                "matchAllPoints" : [
                  [[0, -1], "Empty"]
                ],
                "pieces" : [["rightStairBit", [0, -4]]]
              },
              {
                "matchAnyPoints" : [
                  [[1, 1], "NotEqualsSelf"],
                  [[1, 0], "Connects"]
                ],
                "haltOnMatch" : true,
                "pieces" : [["rightStairsTrim", [0, 0]]]
              },
              {
                "pieces" : [["rightStairs", [0, 0]]]
              }
            ]
          },
          {
            "matchAllPoints" : [
              [[-1, 1], "EqualsSelf"],
              [[0, 1], "NotEqualsSelf"],
              [[1, 1], "NotEqualsSelf"],
              [[-1, 0], "NotEqualsSelf"],
              [[1, 0], "NotEqualsSelf"]
            ],
            "haltOnSubMatch" : true,
            "subMatches" : [
              {
                "matchAllPoints" : [
                  [[0, -1], "Empty"]
                ],
                "pieces" : [["leftStairBit", [2, -4]]]
              },
              {
                "matchAnyPoints" : [
                  [[-1, 1], "NotEqualsSelf"],
                  [[-1, 0], "Connects"]
                ],
                "haltOnMatch" : true,
                "pieces" : [["leftStairsTrim", [-2, 0]]]
              },
              {
                "pieces" : [["leftStairs", [-8, 0]]]
              }
            ]
          },
          // more stairs triggered from below
          {
            "matchAllPoints" : [
              [[-1, -1], "EqualsSelf"],
              [[-2, -2], "EqualsSelf"],
              [[0, -1], "NotEqualsSelf"],
              [[1, -1], "NotEqualsSelf"]
            ],
            "haltOnSubMatch" : true,
            "subMatches" : [
              {
                "matchAllPoints" : [
                  [[0, -1], "Empty"]
                ],
                "pieces" : [["rightStairBit", [0, -4]]]
              },
              {
                "matchAnyPoints" : [
                  [[1, 1], "NotEqualsSelf"],
                  [[1, 0], "Connects"]
                ],
                "haltOnMatch" : true,
                "pieces" : [["rightStairsTrim", [0, 0]]]
              },
              {
                "pieces" : [["rightStairs", [0, 0]]]
              }
            ]
          },
          {
            "matchAllPoints" : [
              [[1, -1], "EqualsSelf"],
              [[2, -2], "EqualsSelf"],
              [[0, -1], "NotEqualsSelf"],
              [[-1, -1], "NotEqualsSelf"]
            ],
            "haltOnSubMatch" : true,
            "subMatches" : [
              {
                "matchAllPoints" : [
                  [[0, -1], "Empty"]
                ],
                "pieces" : [["leftStairBit", [2, -4]]]
              },
              {
                "matchAnyPoints" : [
                  [[-1, 1], "NotEqualsSelf"],
                  [[-1, 0], "Connects"]
                ],
                "haltOnMatch" : true,
                "pieces" : [["leftStairsTrim", [-2, 0]]]
              },
              {
                "pieces" : [["leftStairs", [-8, 0]]]
              }
            ]
          },
          // crossed stairs
          {
            "matchAllPoints" : [
              [[1, 1], "EqualsSelf"],
              [[-1, 1], "EqualsSelf"],
              [[1, -1], "EqualsSelf"],
              [[-1, -1], "EqualsSelf"]
            ],
            "pieces" : [
              ["leftStairs", [-8, 0]],
              ["rightStairs", [0, 0]]
            ]
          }
        ]
      },

      //platforms
      {
        "subMatches" : [
          {
            "matchAllPoints" : [
              [[-1, 0], "ConnectsOther"],
              [[1, 0], "ConnectsOther"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["doublePlatform", [0, 0]]]
          },
          {
            "matchAllPoints" : [
              [[-1, 0], "ConnectsOther"],
              [[1, -1], "NotEqualsSelf"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["leftPlatform", [0, 0]]]
          },
          {
            "matchAllPoints" : [
              [[1, 0], "ConnectsOther"],
              [[-1, -1], "NotEqualsSelf"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["rightPlatform", [0, 0]]]
          },
          {
            "matchAllPoints" : [
              [[-1, 0], "EqualsSelf"],
              [[1, 0], "EqualsSelf"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["midPlatform", [0, 0]]]
          },
          {
            "matchAllPoints" : [
              [[-1, 0], "EqualsSelf"]
            ],
            "haltOnSubMatch" : true,
            "subMatches" : [
              {
                "matchAnyPoints" : [
                  [[1, 1], "EqualsSelf"],
                  [[1, -1], "NotEqualsSelf"]
                ],
                "pieces" : [["midPlatform", [0, 0]]]
              }
            ]
          },
          {
            "matchAllPoints" : [
              [[1, 0], "EqualsSelf"]
            ],
            "haltOnSubMatch" : true,
            "subMatches" : [
              {
                "matchAnyPoints" : [
                  [[-1, -1], "NotEqualsSelf"],
                  [[-1, 1], "EqualsSelf"]
                ],
                "pieces" : [["midPlatform", [0, 0]]]
              }
            ]
          },
          //fallbacks
          {
            "matchAnyPoints" : [
              [[0, 1], "EqualsSelf"],
              [[0, -1], "EqualsSelf"]
            ],
            "haltOnSubMatch" : true,
            "subMatches" : [
              {
                "matchAllPoints" : [
                  [[-1, 0], "NotEqualsSelf"],
                  [[1, 0], "NotEqualsSelf"],
                  [[1, 1], "NotEqualsSelf"],
                  [[-1, 1], "NotEqualsSelf"]
                ],
                "haltOnMatch" : true,
                "pieces" : [["midPlatform", [0, 0]]]
              },
              {
                "matchAllPoints" : [
                  [[-1, 0], "NotEqualsSelf"],
                  [[1, 0], "NotEqualsSelf"],
                  [[1, -1], "NotEqualsSelf"],
                  [[-1, -1], "NotEqualsSelf"]
                ],
                "pieces" : [["midPlatform", [0, 0]]]
              }
            ]
          },
          {
            "matchAllPoints" : [
              [[1, 1], "NotEqualsSelf"],
              [[-1, 1], "NotEqualsSelf"],
              [[1, -1], "NotEqualsSelf"],
              [[-1, -1], "NotEqualsSelf"]
            ],
            "pieces" : [["midPlatform", [0, 0]]]
          }
        ]
      }
    ]]
  ]
}