{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Vine", "Stab", "Slice", "Thorn", "Bite", "Crush", "Kill", "Space", "Fish", "Death", "Ghost", "Tree", "Petal", "Fern", "Green", "Floran", "Hunt", "Bark", "Trunk", "Meat", "Flesh", "Scale", "Hair", "Land", "Kiss", "Cute", "Fire", "Sap", "Dirt", "Ape", "Bird", "Blood" ],
      [ { "mode" : "alts" }, "-eater", "biter", "-slicer", "cutter", "nerfer", "-stabber", "burner", "finger", "hunter", "chaser", "punch", "roaster", "-singer", "killer", "fearer", "licker", "-eater", "watch", "knife", "blade", "-spike", "drinker", "bleeder", "-eraser", "puller", "razer", "-squasher", "worrier", "dancer" ]
    ]
  ]
}
