{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Bolt", "Cog", "Steel", "Iron", "Gold", "Rey", "Led", "Kernel", "Ste", "Ram", "Jam", "Jim", "Cup", "Pipe", "Glitch", "Rob", "Cy", "Robo", "Seft", "See", "Harn", "Hap", "Walt", "Forn", "Kree", "Fell", "Zap", "DJ", "MC", "Dr", "Prof" ],
      [ { "mode" : "alts" }, " Zapper", " Grind", " Oil", " Cop", " Knight", " Thing", " Bot", "obot", " Eyes", " Hands", " Feet", " Glitch", " Ace", " Deuce", " Plunk", " Clank", " Beep", " Sigh", " Crunch", " Grind", " Robo", " Dome", " Wire", " Mouth", " Honk", " Beam", " Code", " Hum" ]
    ]
  ]
}
