{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Fish", "Coral", "Sea", "Sand", "Salt", "Plant", "Peace", "Love", "Twerk", "Waltz", "Silk", "Lily", "Bro", "Sponge", "Water", "Wave", "Shell", "Care", "Fin", "Gill", "Pearl", "Shrimp", "Prawn", "Cod", "Scale", "Gulp", "Boat", "Star", "Calm", "Wind", "Smile" ],
      [ { "mode" : "alts" }, "dish", "keeper", "waver", "master", "guard", "lover", "giver", "ist", "kisser", "toucher", "carer", "fin", "scale", "bubble", "swimmer", "diver", "us", "een", "waltzer", "dancer", "saver", "-lord", "fish", "bug", "-leaf", "ess", "ton", "bert" ]
    ]
  ]
}
