{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Rock", "Coif", "Stone", "Ape", "Helm", "Don", "Spiral", "Glitter", "Cap", "Bartwe", "Face", "Space", "Hair", "Life", "Bill", "Salt", "Nail", "Deer", "Rain", "Snow", "Star", "Trunk", "Banana", "Hell", "Tooth", "Teeth", "Po", "Little", "Big", "Lemon", "Tinkle", "Twinkle", "Sham", "Sword", "Hammer", "Danger", "Light", "Ham", "Beefjeff", "Smack", "Wheel", "Large", "Friend", "Lime", "Melon", "Eye", "Tongue", "Silt", "Dirt", "Mud", "Rainbow", "Glory", "Gene", "Freedom", "Alarm", "Mini", "Tiny", "Donkey" ],
      [ { "mode" : "alts" }, "crusher", "rocker", "smasher", "licker", "dancer", "hugger", "twinkles", "eater", "thrower", "chicken", " Ape", " Beefjeff", "howler", "spider", "gorilla", "kong", "splitter", "squasher", "biter", "toucher", "teeth", "hands", "feet", "face", "tooth", " Hair", "chest", "wonder", " Feet", " Head", " Foot", " Legs", " Banana", " Jeffbeef", "drama", " Face", " Kong", " Delight", "dale", " Toes", "tickler", "teaser", "bringer", "rocker", "feeler", "cheeks", "curler", "brusher", "cutter", " Ape Jr." ]
    ]
  ]
}
