{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Feather", "Wing", "Beak", "Berry", "Ice", "Thorn", "Sun", "Moon", "Death", "Dust", "Cuddle", "Fluff", "Glide", "Soar", "Seed", "Meat", "Spike", "Eye", "Song", "Lark", "Bird", "Duck", "Chick", "Ground", "Dirt", "Fruit", "Spin", "Gust", "Dive", "Swoop", "Fall" ],
      [ { "mode" : "alts" }, "taker", "plucker", "bringer", "pecker", "biter", "wing", "beak", "eyes", "feathers", "flyer", "diver", "killer", "fighter", "praiser", "nibbler", "feet", "claw", "wings", "crown", "tail", "bird", "liver", "pouncer", "preener", "y", "spiker", "gouger", "kicker" ]
    ]
  ]
}
