{
  "levelVariability" : [-0.1, 0.1],
  "planetThreatAdjustment" : {
    "dayTimeSurfaceAdjustmentRange" : [0, 0],
    "nightTimeSurfaceAdjustmentRange" : [0.5, 0.5],
    "dayTimeUndergroundAdjustmentRange" : [0, 0],
    "nightTimeUndergroundAdjustmentRange" : [0, 0],
    "undergroundDifficultyIncreaseRange" : [0.75, 0.75]
  }
}
