{
  "flameBurst" : {
    "projectileType" : "flame",
    "projectileParams" : {
      "speed" : 30,
      "power" : 10
    },

    "fireTime" : 0.7,
    "fireDt" : 0.066,
    "cooldown" : 5
  },

  "jellybossexplode" : {
    "projectileType" : "jellybossexplode",
    "projectileParams" : {
      "speed" : 4,
      "power" : 12
    },

    "fireTime" : 3,
    "fireDt" : 1,
    "cooldown" : 4
  },

  "dragonProjectile" : {
    "projectileType" : "dragonprojectile",
    "projectileParams" : {
      "speed" : 30,
      "power" : 10
    },

    "fireTime" : 0.7,
    "fireDt" : 0.066,
    "cooldown" : 5
  },

  "flyswarm" : {
    "projectileType" : "flyswarm",
    "projectileParams" : {
      "speed" : 30,
      "power" : 10
    },

    "fireTime" : 0.7,
    "fireDt" : 0.1,
    "cooldown" : 5
  },

  "bloodvomit" : {
    "projectileType" : "bloodvomit",
    "projectileParams" : {
      "speed" : 30,
      "power" : 8
    },

    "fireTime" : 0.7,
    "fireDt" : 0.066,
    "cooldown" : 5
  },

  "plasmatorpedo" : {
    "projectileType" : "plasmatorpedo",
    "projectileParams" : {
      "speed" : 30,
      "power" : 14
    },

    "fireTime" : 0.7,
    "fireDt" : 0.35,
    "cooldown" : 5
  },

  "poopBurst" : {
    "projectileType" : "poopbreath",
    "projectileParams" : {
      "speed" : 30,
      "power" : 11
    },

    "fireTime" : 0.7,
    "fireDt" : 0.066,
    "cooldown" : 5
  },

  "bubbles" : {
    "projectileType" : "bubbles",
    "projectileParams" : {
      "speed" : 25,
      "power" : 11
    },

    "fireTime" : 1.2,
    "fireDt" : 0.066,
    "cooldown" : 5.5
  },

  "iceshot" : {
    "projectileType" : "iceshot",
    "projectileParams" : {
      "speed" : 25,
      "power" : 13
    },

    "fireTime" : 0.85,
    "fireDt" : 0.156,
    "cooldown" : 5.5
  },

  "rock" : {
    "projectileType" : "rock",
    "projectileParams" : {
      "speed" : 15,
      "power" : 12
    },

    "fireTime" : 2,
    "fireDt" : 1,
    "cooldown" : 2.5
  },

  "fireball" : {
    "projectileType" : "fireball",
    "projectileParams" : {
      "speed" : 25,
      "power" : 14
    },

    "fireTime" : 2,
    "fireDt" : 2,
    "cooldown" : 2
  },

  "darkplasma" : {
    "projectileType" : "darkplasma",
    "projectileParams" : {
      "speed" : 25,
      "power" : 16
    },

    "fireTime" : 2,
    "fireDt" : 1,
    "cooldown" : 2
  },

  "darkgravityball" : {
    "projectileType" : "darkgravityball",
    "projectileParams" : {
      "speed" : 10,
      "power" : 16
    },

    "fireTime" : 3,
    "fireDt" : 2.5,
    "cooldown" : 2
  },

  "acidspit" : {
    "projectileType" : "acidspit",
    "projectileParams" : {
      "speed" : 25,
      "power" : 11
    },

    "fireTime" : 2,
    "fireDt" : 1,
    "cooldown" : 2.5
  },

  "thorns" : {
    "projectileType" : "thorns",
    "projectileParams" : {
      "speed" : 25,
      "power" : 8
    },

    "fireTime" : 0.5,
    "fireDt" : 0.066,
    "cooldown" : 2
  },

  "shock" : {
    "projectileType" : "shock",
    "projectileParams" : {
      "speed" : 25,
      "power" : 16
    },

    "fireTime" : 0.5,
    "fireDt" : 0.5,
    "cooldown" : 4.5
  },

  "gas" : {
    "projectileType" : "gas",
    "projectileParams" : {
      "speed" : 10,
      "power" : 14
    },

    "fireTime" : 0.8,
    "fireDt" : 0.2,
    "cooldown" : 3
  },

  "explosivegoo" : {
    "projectileType" : "explosivegoo",
    "projectileParams" : {
      "speed" : 25,
      "power" : 9
    },

    "fireTime" : 0.2,
    "fireDt" : 0.25,
    "cooldown" : 3
  },

  "sonic" : {
    "projectileType" : "sonic",
    "projectileParams" : {
      "speed" : 30,
      "power" : 10
    },

    "fireTime" : 0.2,
    "fireDt" : 0.25,
    "cooldown" : 4
  },

  "sonicwave" : {
    "projectileType" : "sonicwave",
    "projectileParams" : {
      "speed" : 30,
      "power" : 10
    },

    "fireTime" : 0.2,
    "fireDt" : 0.25,
    "cooldown" : 4
  },

  "megabeam" : {
    "projectileType" : "megabeam",
    "projectileParams" : {
      "speed" : 25,
      "power" : 15
    },

    "fireTime" : 1,
    "fireDt" : 0.0001,
    "cooldown" : 8
  },

  "icebreath" : {
    "projectileType" : "icebreath",
    "projectileParams" : {
      "speed" : 20,
      "power" : 15
    },

    "fireTime" : 1.2,
    "fireDt" : 0.1,
    "cooldown" : 4
  },

  "lightball" : {
    "projectileType" : "lightball",
    "projectileParams" : {
      "speed" : 10,
      "power" : 11
    },

    "fireTime" : 4,
    "fireDt" : 2.5,
    "cooldown" : 1.5
  },

  "boomerang" : {
    "projectileType" : "boomerang",
    "projectileParams" : {
      "speed" : 10,
      "power" : 11
    },

    "fireTime" : 0.2,
    "fireDt" : 0.25,
    "cooldown" : 2.5
  },

  "fireswirl" : {
    "projectileType" : "fireswirl",
    "projectileParams" : {
      "speed" : 4,
      "power" : 15
    },

    "fireTime" : 0.2,
    "fireDt" : 0.25,
    "cooldown" : 2.5
  },

  "clustergoo" : {
    "projectileType" : "clustergoo",
    "projectileParams" : {
      "speed" : 25,
      "power" : 10
    },

    "fireTime" : 0.2,
    "fireDt" : 0.25,
    "cooldown" : 5
  },

  "lightning" : {
    "projectileType" : "lightning",
    "projectileParams" : {
      "speed" : 45,
      "power" : 13
    },

    "fireTime" : 1,
    "fireDt" : 0.05,
    "cooldown" : 5
  },

  "waterballoon" : {
    "projectileType" : "waterballoon",
    "projectileParams" : {
      "speed" : 45,
      "power" : 45
    },

    "fireTime" : 2,
    "fireDt" : 1,
    "cooldown" : 2
  },


  // This is a dumb way to do single shot, will probably add something just for
  // that in the future, this is just to test.

  "singleShotTest" : {
    "projectileType" : "flame",
    "projectileParams" : {
      "speed" : 25,
      "power" : 45
    },

    "fireTime" : 0.2,
    "fireDt" : 0.2,
    "cooldown" : 2
  }
}
