{
  "machinegunbullet" : {
    "projectileType" : "bullet-1",

    "projectileParams" : {
      "power" : 1
    },

    "fireTime" : 0.3,
    "fireDt" : 0.1,
    "cooldown" : 0.7,

    "muzzleFlash" : {
      "animation" : "/animations/muzzleflash/bulletmuzzle3/bulletmuzzle3.animation",
      "fireSound" : [ ]
    }
  },
  "handgunbullet" : {
    "projectileType" : "bullet-1",

    "projectileParams" : {
      "power" : 1.0
    },

    "fireTime" : 1.0,
    "fireDt" : 0.75,
    "cooldown" : 0.25,

    "muzzleFlash" : {
      "animation" : "/animations/muzzleflash/bulletmuzzle3/bulletmuzzle3.animation",
      "fireSound" : [ ]
    }
  },
  "bazookarocket" : {
    "projectileType" : "rocket",

    "projectileParams" : {
      "speed" : 20.0,
      "power" : 10.0
    },

    "fireTime" : 1.0,
    "fireDt" : 1.0,
    "cooldown" : 1.0,

    "muzzleFlash" : {
      "animation" : "/animations/muzzleflash/smokemuzzle/smokemuzzle.animation",
      "fireSound" : [ ]
    }
  }
}
