{
  // In milliseconds
  "assetCleanupTimeouts" : {
    "config" : 30000,
    "image" : 10000,
    "audio" : 10000,
    "font" : 30000,
    "data" : 1000
  },

  "purgeableCacheLimit" : 128,
  "cacheLimitEvery" : 64,

  // In seconds, audio less than this long will be decompressed in memory.
  "audioDecompressLimit" : 4.0,

  "assetLoadingWarnTime" : 1.0,

  "workerPoolSize" : 2,

  "missingAssetsImage" : "/assetmissing.png",
  "missingAssetsAudio" : "/assetmissing.wav",

  "version" : "Rampaging Koala 20140618"
}
