{
  // This affects a lot of things!  Need to be very careful about how to choose
  // this, and possibly make several different windows for terrain, npcs,
  // objects, etc.
  "windowMonitoringBorder" : 32,
  "playerMonitoringBorder" : 32,

  "worldClientUpdateStepDelta" : 10,

  "modifiedTilePredictionTimeout" : 0.5,

  "blockDamageParticle" : {
    "type" : "ember",
    "size" : 2.5,
    // Will be faced towards damage source
    "initialVelocity" : [8.0, 0.0],
    "finalVelocity" : [0.0, -12.0],
    "approach" : [12, 22],
    "timeToLive" : 0.5,
    "destructionAction" : "shrink",
    "destructionTime" : 0.5,
    "layer" : "front",
    "collidesForeground" : false
  },

  "blockDamageParticleVariance" : {
    "initialVelocity" : [4.0, 4.0]
  },

  "blockDamageParticleProbability" : 0.2,

  "minimumInspectionLight" : 0.1,
  "playerReviveTime" : 4.5,
  "playerReviveMoveToShipDelayTime" : 3,
  "playerReviveAnimationDelayTime" : 1.5,
  "worldDimTime" : 5.0,

  // In steps
  "itemRequestReset" : 20,

  "warpMessageDelay" : 1.0,

  "serverConnectTimeout" : 40000,
  "serverDisconnectTimeout" : 6000,

  "interpolationSettings" : {
    "normal" : {
      "interpolationEnabled" : true,
      "heartbeatDelta" : 3,
      "stepLead" : 6,
      "stepTrackFactor" : 0.05,
      "stepMaxDistance" : 120
    },

    "local" : {
      "interpolationEnabled" : true,
      "heartbeatDelta" : 1,
      "stepLead" : 2,
      "stepTrackFactor" : 0.20,
      "stepMaxDistance" : 40
    }
  },

  "damageNotificationBatchDuration" : 0.2,

  "combatTrack" : {
    "day" : {
      "tracks" : [ "/music/testbattle.ogg" ]
    },
    "night" : {
      "tracks" : [ "/music/testbattle.ogg" ]
    }
  },
  "combatTrackMixSettings" : {
    // Values are volume, delay, and duration
    "grace" : 2.0,
    "mixCombatIn" : [0.0, 0, 3],
    "mixMusicOut" : [0.40, 0, 3],
    "mixCombatOut" : [0, 0, 3],
    "mixMusicIn" : [0.45, 0, 3]
  },

  "defaultFootstepSound" : "/tiles/default_footstep.ogg",

  "statusDepletionDamage" : 0.05,
  "statusRiskLevel" : 0.2,
  "statusCriticalLevel" : 0.05,

  "storageTriggerInterval" : 60000,

  "normalModeDeathDrops" : [
    "refinedaegisalt",
    "aegisaltore",
    "ceruliumcompound",
    "coalore",
    "copperbar",
    "copperore",
    "corefragmentore",
    "diamond",
    "diamondore",
    "durasteelbar",
    "feroziumcompound",
    "goldbar",
    "goldore",
    "imperviumcompound",
    "ironbar",
    "ironore",
    "platinumbar",
    "platinumore",
    "plutoniumrod",
    "plutoniumore",
    "refinedrubium",
    "rubiumore",
    "silverbar",
    "silverore",
    "solariumstar",
    "solariumore",
    "titaniumbar",
    "titaniumore",
    "uraniumrod",
    "uraniumore",
    "refinedviolium",
    "violiumore"
  ]
}
