{
  "mass" : 1.0,
  "gravityMultiplier" : 1.5,
  "bounceFactor" : 0.0,
  "maxMovementPerStep" : 0.8,
  "maximumCorrection" : 999, //0.9,  
  "speedLimit" : [100, 100],

  // "standingPoly" and "crouchingPoly" Can be used instead of "collisionPoly"
  "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],

  "walkSpeed" : 8.0,
  "runSpeed" : 14.0,
  "flySpeed" : 8.0,

  "runningSuppressed" : false,
  "jumpingSuppressed" : false,

  "airFriction" : 0.5,
  "liquidFriction" : 5.0,
  "liquidImpedance" : 0.5,

  "normalGroundFriction" : 14.0,
  "ambulatingGroundFriction" : 1.0,
  "skiddingGroundFriction" : 4.0,

  "groundForce" : 100.0,
  "airForce" : 24.0,
  "liquidForce" : 30.0,

  "airJumpProfile" : {
    "jumpSpeed" : 30.0,
    "jumpControlForce" : 900.0,
    "jumpInitialPercentage" : 0.75,
    "jumpHoldTime" : 0.2,

    "multiJump" : false,
    "reJumpDelay" : 0.05,
    "autoJump" : false,
    "collisionCancelled" : true
  },

  "liquidJumpProfile" : {
    "jumpSpeed" : 30.0,
    "jumpControlForce" : 400.0,
    "jumpInitialPercentage" : 0.75,
    "jumpHoldTime" : 0.25,

    "multiJump" : true,
    "reJumpDelay" : 0.25,
    "autoJump" : true,
    "collisionCancelled" : false
  },

  "fallStatusSpeedMin" : -4.0,
  "fallThroughSustainFrames" : 12,

  "onGroundSustain" : 0.2,

  "frictionEnabled" : true,
  "gravityEnabled" : true,
  "groundSlideMovementEnabled" : true,

  "slopeSlidingFactor" : 0.0,

  "slaveUpdateSkip" : 6,
  "slaveUpdateSkipSmear" : 2,

  "masterSleepSpeed" : 0.001,
  "masterSleepBegin" : 6,
  "masterSleepUpdateSkip" : 6,
  "masterSleepUpdateSkipSmear" : 2
}
