{
  "outpost" : {
    "dungeon" : "outpost",
    "threatLevel" : 0,
    "gravity" : 80,
    "worldSize" : [2000, 1000],
    "dungeonAnchorPoint" : [1000, 500],
    "ambientLight" : [128, 128, 128]
  },
  "ancientgateway" : {
    "dungeon" : "ancientgateway",
    "threatLevel" : 0,
    "gravity" : 40,
    "worldSize" : [1000, 1000],
    "dungeonAnchorPoint" : [500, 500],
    "ambientLight" : [128, 128, 128]
  }
}
