{
  "commandProcessor" : {
    "help" : "Available commands are: %s. Use /help commandName to get detailed documentation.",
    "reload" : "Usage /reload.  Reloads your local, client side assets. Will cause lag as they are reparsed.",
    "serverreload" : "Usage /serverreload. Reloads the remote, server side assets. Will cause lag as they are reparsed.",
    "timewarp" : "Usage /timewarp timeInSeconds. Warp time ahead by timeInSeconds.",
    "spawnitem" : "Usage /spawnitem itemName [count] [variantParameters]. Spawn the specified item at the mouse cursor. If the item does not exist it will spawn a perfectly generic item. Count expects an integral number. Variant parameters are parameters passed to the item's constructor. They are specified as JSON. Best practice is to surround JSON in single quotes.",
    "spawnmonster" : "Usage /spawnmonster type [level] [variantParameters]. Spawn the specified monster type at the mouse cursor. If level is not specified it takes level 0. Variant parameters are parameters passed to the monster's constructor. They are specified as JSON. Best practice is to surround JSON in single quotes.",
    "spawnnpc" : "Usage /spawnnpc species [type] [level]. Spawn an NPC of that specified species. If type is specified it spawns on the specific NPC type (for instance, guard). If level is not specified it takes level 0.",
    "spawngun" : "Usage /spawngun level [kind]. Spawn a randomized gun with the given level. If kind is specified then the gun is limited to that kind (for instance, commonshotgun). If you want to spawn a non-randomly generated gun use /spawnitem instead.",
    "spawnsword" : "Usage /spawnsword level [kind]. Spawn a randomized sword with the given level. If kind is specified then the sword is limited to that kind (for instance, commonshortsword). If you want to spawn a non-randomly generated sword use /spawnitem instead.",
    "spawnshield" : "Usage /spawnshield level [kind]. Spawn a randomized shield with the given level. If kind is specified then the shield is limited to that kind (for instance, riotshield). If you want to spawn a non-randomly generated shield use /spawnitem instead.",
    "pvp" : "Usage /pvp. Toggle your Player VS Player mode if possible.",
    "serverwhoami" : "Usage /serverwhoami. Display your server username and admin status.",
    "whoami" : "Usage /whoami. Display your local username and admin status.",
    "message" : "Usage /message message. Same as sending a message by just pressing enter and typing. Useful for avoiding having your messaged parsed by the command parser.",
    "showhunger" : "Usage /showhunger. Displays your hunger bar for several seconds.",
    "played" : "Usage /played. Displays how long you've played this character.",
    "itemid" : "Usage /itemid bagSpecifier slotSpecifier. Dumps item information to the command line. bagSpecifier is a number between 1 and 6 or one of (case insensitive) \"bag\", \"tilebag\", \"bar\", \"equipment\", \"wieldable\", \"swap\". slotSpecifier is dependent on the bag type. If type is bag, tilebag, 1 or 2 then slotSpecifier is a number between 0 and 39 inclusive. If type is bar or 3 then slotSpecifier is a number between 0 and 9 inclusive. If type is equipment or 4 then slotSpecifier is a number between 0 and 12 inclusive or one of (case insensitive) \"head\", \"chest\", \"legs\", \"back\", \"headSoc\", \"chestSoc\", \"legsSoc\", \"backSoc\", \"tech1\", \"tech2\", \"tech3\", \"tech4\", \"trash\".  If type is wieldable then slotSpecifier is either 0 or 1 or (case insensitive) \"lefthand\" or \"righthand\".  If type is swap then only 0 is valid.",
    "gravity" : "Usage /gravity. Display the gravity at the player's position.",
    "debug" : "Usage /debug. Enable debugging mode.",
    "togglelogmap" : "Usage /togglelogmap. Toggle the display of debugging text information to the screen if debug mode is enabled.",
    "boxes" : "Usage /boxes. Toggle the display of debugging polygons if debug mode is enabled.  Generally collision and sensor information.",
    "clearboxes" : "Usage /clearboxes. Toggle whether or not to clear boxes displayed with /boxes every frame.  Useful for determining routes that enemies take, can get messy looking though.",
    "togglelayer" : "Usage /togglelayer.  Toggle the visibility of the specified layer. A layer is a number between 1 and 21. They are in order: Sky, Parallax, UndergroundParallax, Background, Platforms, Plant, PlantDrop, Object, CursorHintedObject, ParticlesBottom, Effect, Projectile, NPC, Player, ItemDrop, Water, ParticlesMiddle, Foreground, ParticlesTop, Nametag, InfoBars.",
    "fullbright" : "Usage /fullbright. Disable the lighting engine and show everything.",
    "setgravity" : "Usage /setgravity level. Sets your local gravity to the level specified. Standard gravity is 80. Negative values will make you fall up but you can't jump from your head. This change is local only, and looks pretty henious on a server, because it screws very heavily with delta prediction.",
    "resetgravity" : "Usage /resetgravity. Undoes /setgravity. Begin using server gravity again.",
    "kick" : "Usage /kick playerSpecifier [reason]. Kick the specified player and send the reason to the player. If no reason is specified then the player's server nickname is used as the reason (IRC Style).",
    "ban" : "Usage /ban playerSpecifier [reason] [kind] [timeInSeconds]. Kick and ban the specified player and send the reason to the player. If no reason is specified then the player's server nickname is used as the reason (IRC Style). Kind is specified as \"uuid\" or \"ip\" or \"both\".  Other values are invalid.  If kind is not specified or incorrectly specified then \"both\" is used.  timeInSeconds defaults to forever. Bans that have a specified duration are not persistent.  If you shut down the server or reload configuration, all of your temporarily banned users will be unbanned immediately.",
    "list" : "Usage /list. List all clients logged into the server. Format is $clientId : serverNickname : $$playerUuid. If the serverNickname contains unprintable characters the unicode escape sequence for those characters will be displayed instead.",
    "toplayership" : "Usage /toplayership playerSpecifier. Warp self to the specified player's ship."
  }
}
