{
  "liquids" : {
    // nothing
    "0" : {
      "name" : "nothing",
      "texture" : "/watertex.png",

      // not sensical
      "drawMinimum" : 20,
      "color" : [80, 221, 254, 128],
      "bottomLightMix" : [0, 78, 255],
      "bottomLightMultiplier" : 2,
      "textureMovementFactor" : 2.6,
      "breathable" : "default"
    },
    // Water
    "1" : {
      "name" : "water",
      "texture" : "/watertex.png",
      "blockGenerationChance" : 0.000,
      "blockOptions" : [ "sand2" ],
      "drawMinimum" : 20,
      "color" : [80, 221, 254, 128],
      "bottomLightMix" : [0, 78, 255],
      "bottomLightMultiplier" : 2,
      "textureMovementFactor" : 2.6,
      "breathable" : "notBreathable"
    },
    // EndlessWaterLiquidId
    "2" : {
      "name" : "ocean",
      "texture" : "/watertex.png",
      "flowAs" : 1,
      "blockGenerationChance" : 0.01,
      "connectedOnly" : false,
      "blockOptions" : [ "sand2" ],
      "drawMinimum" : 20,
      "color" : [80, 221, 254, 128],
      "bottomLightMix" : [0, 78, 255],
      "bottomLightMultiplier" : 2,
      "textureMovementFactor" : 2.6,
      "breathable" : "notBreathable",
      "endless" : true
    },
    // Lava
    "3" : {
      "name" : "lava",
      "texture" : "/lavatex.png",
      "blockGenerationChance" : 0.001,
      "blockOptions" : [ "magmarock" ],
      "interactions" : {
        "1" : {
          "blockGenerationChance" : 1,
          "blockOptions" : [ "magmarock" ]
        },
        "2" : {
          "blockGenerationChance" : 1,
          "blockOptions" : [ "magmarock" ]
        }
      },
      "drawMinimum" : 20,
      "color" : [255, 150, 0, 205],
      "bottomLightMix" : [255, 70, 0],
      "bottomLightMultiplier" : 2,
      "radiantLight" : [189, 26, 0],
      "textureMovementFactor" : 9,
      "upwardsSpeedModifier" : 1.3,
      "sidewaysSpeedModifier" : 0.3,
      "downwardsSpeedModifier" : 1,
      "backgroundFlowPercentage" : 0.05,
      "breathable" : "notBreathable",
      "ontouchStatusEffects" : [
        { "kind" : "testmagma" }
      ]
    },
    // acid
    "4" : {
      "name" : "acid",
      "texture" : "/watertex.png",
      "blockGenerationChance" : 0.000,
      "blockOptions" : [ "sand2" ],
      "drawMinimum" : 20,
      "color" : [79, 175, 41, 190],
      "bottomLightMix" : [0, 78, 255],
      "bottomLightMultiplier" : 2,
      "textureMovementFactor" : 2.6,
      "breathable" : "notBreathable",
      "ontouchStatusEffects" : [
        { "kind" : "testpoison" }
      ]
    },
    // EndlessLavaId
    "5" : {
      "name" : "lavaOcean",
      "texture" : "/lavatex.png",
      "flowAs" : 3,
      "blockGenerationChance" : 0.01,
      "blockOptions" : [ "magmarock" ],
      "interactions" : {
        "1" : {
          "blockGenerationChance" : 1,
          "blockOptions" : [ "magmarock" ]
        },
        "2" : {
          "blockGenerationChance" : 1,
          "blockOptions" : [ "magmarock" ]
        }
      },
      "drawMinimum" : 20,
      "color" : [255, 150, 0, 190],
      "bottomLightMix" : [255, 70, 0],
      "radiantLight" : [189, 26, 0],
      "bottomLightMultiplier" : 2,
      "textureMovementFactor" : 9,
      "upwardsSpeedModifier" : 1.3,
      "sidewaysSpeedModifier" : 0.3,
      "downwardsSpeedModifier" : 1,
      "backgroundFlowPercentage" : 0.05,
      "breathable" : "notBreathable",
      "endless" : true,
      "ontouchStatusEffects" : [
        { "kind" : "testburning" }
      ]
    },
    // Water
    "6" : {
      "name" : "tentaclejuice",
      "texture" : "/tentacletex.png",
      "blockGenerationChance" : 0.000,
      "blockOptions" : [ "sand2" ],
      "drawMinimum" : 20,
      "color" : [244, 170, 159, 128],
      "bottomLightMix" : [244, 170, 159, 128],
      "bottomLightMultiplier" : 2,
      "textureMovementFactor" : 2.6,
      "breathable" : "notBreathable"
    },
    // tar
    "7" : {
      "name" : "tarliquid",
      "texture" : "/tartex.png",
      "blockGenerationChance" : 0.000,
      "blockOptions" : [ "sand2" ],
      "drawMinimum" : 20,
      "color" : [44, 31, 51, 225],
      "bottomLightMix" : [0, 78, 255],
      "bottomLightMultiplier" : 2,
      "textureMovementFactor" : 2.6,
      "breathable" : "notBreathable"
    }
  }
}
