{
  "defaultMaxDistance" : 45.0,

  "footstepVolumeVariance" : 0.35,
  "landingVolume" : 2.5,
  "miningToolVolume" : 0.5,
  "miningBlockVolume" : 0.7,
  "harvestToolVolume" : 1,

  "teleportNoiseUp" : "/sfx/tools/teleport_up.wav",
  "teleportNoiseDown" : "/sfx/tools/teleport_down.wav",
  "teleportVolume" : 1
}
