{
  "mainColor" : [182, 204, 255],
  "dayTransitionTime" : 200.0,
  "skyMaxAlpha" : 0.9,
  "skyLevelExponent" : 0.3,

  "flyMaxVelocity" : 100000,
  "starVelocityFactor" : 0.1,
  "correctionPower" : 0.01,

  "speedupTimer" : 8.0,
  "flyingTimer" : 30.0,
  "slowdownTimer" : 8.0,
  "flashTimer" : 1.0,
  "disembarkOrigin" : {
    "offset" : [0, 0], "rotation" : 0
  },

  "disembarkPath" : [
    {
      // where you're going, how are you rotated in degrees, how much time does it take to get there
      "offset" : [300, 300], "rotation" : -45.0, "time" : 10
    }
  ],

  "arrivalOrigin" : {
    "offset" : [-300, 300], "rotation" : 45.0
  },

  "arrivalPath" : [
    {
      "offset" : [0, 0], "rotation" : 0, "time" : 10
    }
  ],

  "sun" : {
    "image" : "/sky/orbitals/sun.png",
    "radius" : 350
  },

  "planetHorizon" : {
    "scale" : 0.5,
    "yCenter" : -700,
    "cloudCount" : [30, 60],
    "cloudRadius" : [740, 810],
    "cloudSpeed" : [0.2, 0.3],
    "clouds" : [
      "/sky/orbitals/cloud2.png",
      "/sky/orbitals/cloud3.png",
      "/sky/orbitals/cloud4.png"
    ]
  },

  "spaceDebris" : {
    "velocityRange" : [-1, 2],
    "numFields" : [2, 5],
    "cellSize" : 600,
    "screenBuffer" : 1000,
    "cellCount" : [0, 1],
    "angularVelocity" : [-1, 2],
    "animationSpeed" : [1.5, 3],

    "list" : [
      "/sky/glitters/1.png",
      "/sky/glitters/2.png",
      "/sky/glitters/3.png",
      "/sky/glitters/4.png",
      "/sky/glitters/5.png",
      "/sky/glitters/6.png",
      "/sky/glitters/7.png"
    ]
  },

  "satellite" : {
    "planetScale" : 3.0,
    "moonScale" : 1.5,
    "area" : [400, 400]
  },

  "stars" : {
    "cellSize" : 180,
    "screenBuffer" : 4,
    "cellCount" : [150, 150],
    "twinkleMin" : 0.2,
    "twinkleMax" : 1.0,

    "frames" : 4,
    "list" : [
      "/sky/stars/bigb_star.png",
      "/sky/stars/bigr_star.png",
      "/sky/stars/bigw_star.png",
      "/sky/stars/bigy_star.png",
      "/sky/stars/mediumb_star.png",
      "/sky/stars/smallerw_star.png",
      "/sky/stars/smallr_star.png",
      "/sky/stars/smallw_star.png",
      "/sky/stars/smally_star.png",
      "/sky/stars/transw_star.png",
      "/sky/stars/transy_star.png"
    ],
    "hyperlist" : [
      "/sky/stars/warp1.png",
      "/sky/stars/warp2.png",
      "/sky/stars/warp3.png",
      "/sky/stars/warp4.png",
      "/sky/stars/warp5.png"
    ]
  },

  "engineAudio" : "/sfx/interface/ship_thrusters.ogg",
  "hyperspaceAudio" : "/sfx/interface/hyperspace_loop.ogg",
  "enterHyperspaceAudio" : "/sfx/interface/hyperspace_start.ogg",
  "exitHyperspaceAudio" : "/sfx/interface/hyperspace_end.ogg",
  "arrivalAudio" : "/sfx/interface/thruster_off.wav",
  "enterHyperspaceAudioLeadIn" : 7.9,
  "exitHyperspaceAudioLeadIn" : 2.7,
  "engineCrossfadeTime" : 0
}
