{
  "defaultActive" : true,
  "playerSpawnRate" : [2.0, 0.2],
  "scoreRate" : [1.0, 0.1],
  "primeRuns" : 10,
  "spawnParametersCacheTtl" : 10000,
  "spawnParametersCacheTimeSmear" : 500,

  "playerSpawnRectSize" : [300, 200],
  "visibilityPadding" : 10,

  "spawnCellSize" : 8,
  "spawnCellMinimumLiquidTiles" : 20,
  "spawnCellMinimumSurfaceTiles" : 4,
  "spawnCellMinimumAirTiles" : 40,
  "spawnCellMinimumUndergroundTiles" : 30,

  "minimumDayLevel" : 0.2,
  "minimumLiquidLevel" : 0.9,
  "spawnCheckResolution" : 1.0,
  "maximumSpawnChangePerRun" : 4,
  "surfaceCheckDistance" : 3.0,

  "entityAutoDespawnScore" : 6,
  "entityOutOfProfilePenalty" : 1.0,
  "entityOutOfRangePenalty" : 0.5,
  "entityCrowdedPenalty" : 2.0,

  "spawnProfiles" : {
    "surfacecrowded" : [
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.15,
        "crowdedRadius" : 4,
        "monsterType" : "smallbiped",
        "monsterParameters" : {
          "aggressive" : false
        }
      }
    ],

    "surfacemix" : [
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.05,
        "crowdedRadius" : 6,
        "monsterType" : "quadruped",
        "monsterParameters" : {
          "aggressive" : true
        }
      },
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.05,
        "crowdedRadius" : 6,
        "monsterType" : "quadruped",
        "monsterParameters" : {
          "aggressive" : false
        }
      },
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.05,
        "crowdedRadius" : 6,
        "monsterType" : "smallbiped",
        "monsterParameters" : {
          "aggressive" : false
        }
      },
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "air",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.02,
        "crowdedRadius" : 6,
        "monsterType" : "smallflying",
        "monsterParameters" : {
          "aggressive" : true
        }
      },
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "air",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.02,
        "crowdedRadius" : 6,
        "monsterType" : "smallflying",
        "monsterParameters" : {
          "aggressive" : false
        }
      }
    ]
  }
}
