{
  "runProbability" : 0.02,

  "clientBufferZone" : [120, 60],

  "clusterSpawnCheckCount" : 14,
  "clusterDespawnCheckCount" : 8,
  "clusterTargetRect" : [300.0, 200.0],
  "clusterCloseRect" : [30, 10],
  "clusterSize" : [10, 10],
  "clusterCount" : [1, 2],
  "targetClustersPerPlayer" : 6,
  "individualSpawnChances" : 40,

  "surfaceScan" : [5, 5],
  "spawnAdjustLimit" : 5,

  "surfaceOnlyProbability" : 0.8,
  "surfaceTries" : 30,

  "numAggressiveFamilies" : 2,
  "numPassiveFamilies" : 1,
  "minimumDayLevel" : 0.2,
  "minimumLiquidLevel" : 1.0,
  "dungeonQueryRadius" : 3
}
