{
  "active" : true,
  "aroundPlayerSpawnRate" : [4, 0.5],
  "distantDespawnRate" : [4, 0.5],
  "playerSpawnRectSize" : [300, 200],
  "visibilityPadding" : 4,

  "spawnCellSize" : 12,
  "spawnCellMinimumLiquidTiles" : 50,
  "spawnCellMinimumSurfaceTiles" : 8,
  "spawnCellMinimumAirTiles" : 80,
  "spawnCellMinimumUndergroundTiles" : 20,
  "minimumDayLevel" : 0.2,

  "spawnCheckResolution" : 1.0,
  "maximumSpawnChangePerRun" : 8,
  "entityKeepAliveTime" : 10,
  "maximumSpawnTries" : 50,
  "minimumLiquidLevel" : 0.9,
  "surfaceCheckDistance" : 3.0,

  "spawnProfiles" : {
    "default" : [
      {
        "levelVariability" : [-0.1, 0.1],
        "dayTimeSurfaceAdjustmentRange" : [0, 0],
        "nightTimeSurfaceAdjustmentRange" : [0.5, 0.5],
        "undergroundDifficultyIncreaseRange" : [0.75, 0.75],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.3,
        "monsterType" : "quadruped",
        "monsterParameters" : {
          "aggressive" : true
        }
      }
    ]
  }
}
