{
  "defaultActive" : true,
  "debug" : false,

  // delta and variance
  "playerSpawnRate" : [1.0, 0.1],
  "scoreRate" : [1.0, 0.1],

  // Specifies the total "fake" runtime and the step delta for priming a region
  "primeRunTime" : [10, 1],

  // In milliseconds
  "spawnParametersCacheTtl" : 10000,
  "spawnParametersCacheTimeSmear" : 500,

  "playerSpawnRectSize" : [400, 250],
  // Anything intersecting the client visible window *plus this padding* will
  // be considered visible and ignored during spawning and despawning runs.
  "visibilityPadding" : 10,

  "spawnCellSize" : 8,
  "spawnCellMinimumEmptyTiles" : 30,
  "spawnCellMinimumLiquidTiles" : 20,
  "spawnCellNearSurfaceDistance" : 6,
  "spawnCellMinimumNearSurfaceTiles" : 16,
  "spawnCellMinimumAirTiles" : 40,
  "spawnCellMinimumExposedTiles" : 30,

  "minimumDayLevel" : 0.2,
  "minimumLiquidLevel" : 0.9,
  "spawnCheckResolution" : 1.0,
  "maximumSpawnChangeRate" : 8,
  "allowedOverpopulation" : 1,
  "spawnSurfaceCheckDistance" : 3.0,

  // Despawn score accumulates while the monster is out of range or out of its
  // profile.  Once it reaches the auto despawn score, it will be despawned
  // regardless of density runs.
  "entityOutOfProfileRate" : 0.5,
  "entityOutOfRangeRate" : 0.5,
  "entityAutoDespawnScore" : 6,

  "spawnProfiles" : {
    "default" : [],

    "loworbit" : [
      //ground
      {
        "dayLevelAdjustment" : [0.0, 0.5],
        "nightLevelAdjustment" : [0.0, 0.5],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.02,
        "monsterType" : "smallbiped",
        "monsterParameters" : {
          "aggressive" : false
        }
      }
    ],
//=============================================================================
    "surfacemix1" : [
      //ground
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.25, 0.5],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "exposed",
          "time" : "all"
        },

        "targetDensity" : 0.01,
        "monsterType" : "largequadruped",
        "monsterParameters" : {
          "aggressive" : true
        }
      },
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "day"
        },

        "targetDensity" : 0.01,
        "monsterType" : "smallbiped",
        "monsterParameters" : {
          "aggressive" : false
        }
      },
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "night"
        },

        "targetDensity" : 0.01,
        "monsterType" : "smallbiped",
        "monsterParameters" : {
          "aggressive" : true
        }
      },
      //flying
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "air",
          "region" : "exposed",
          "time" : "day"
        },

        "targetDensity" : 0.001,
        "monsterType" : "smallflying",
        "monsterParameters" : {
          "aggressive" : true
        }
      },
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "air",
          "region" : "exposed",
          "time" : "night"
        },

        "targetDensity" : 0.001,
        "monsterType" : "smallflying",
        "monsterParameters" : {
          "aggressive" : false
        }
      },
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "air",
          "region" : "exposed",
          "time" : "all"
        },

        "targetDensity" : 0.001,
        "monsterType" : "smallflying",
        "monsterParameters" : {
          "aggressive" : false
        }
      },
      //fish
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "liquid",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.06,
        "monsterType" : "fish",
        "monsterParameters" : {
          "aggressive" : false
        }
      },
      {
        "dayLevelAdjustment" : [0.0, 0.0],
        "nightLevelAdjustment" : [0.0, 0.0],

        "spawnParameters" : {
          "area" : "liquid",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.06,
        "monsterType" : "fish",
        "monsterParameters" : {
          "aggressive" : false
        }
      }
    ],
//=============================================================================
    "surfacemix2" : [
      //ground
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "day"
        },

        "targetDensity" : 0.01,
        "monsterType" : "smallbiped",
        "monsterParameters" : {
          "aggressive" : false
        }
      },
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "night"
        },

        "targetDensity" : 0.01,
        "monsterType" : "smallbiped",
        "monsterParameters" : {
          "aggressive" : true
        }
      },
      {
        "dayLevelAdjustment" : [0.0, 0.2],
        "nightLevelAdjustment" : [0.0, 0.2],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.01,
        "monsterType" : "smallquadruped",
        "monsterParameters" : {
          "aggressive" : true
        }
      },
      //flying
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "air",
          "region" : "exposed",
          "time" : "all"
        },

        "targetDensity" : 0.001,
        "monsterType" : "smallflying",
        "monsterParameters" : {
          "aggressive" : false
        }
      },
      //fish
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "liquid",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.06,
        "monsterType" : "fish",
        "monsterParameters" : {
          "aggressive" : false
        }
      },
      {
        "dayLevelAdjustment" : [0.0, 0.0],
        "nightLevelAdjustment" : [0.0, 0.0],

        "spawnParameters" : {
          "area" : "liquid",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.06,
        "monsterType" : "fish",
        "monsterParameters" : {
          "aggressive" : false
        }
      }
    ],
//=============================================================================
    "surfacemix3" : [
      //ground
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "exposed",
          "time" : "day"
        },

        "targetDensity" : 0.01,
        "monsterType" : "largebiped",
        "monsterParameters" : {
          "aggressive" : false
        }
      },
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "exposed",
          "time" : "night"
        },

        "targetDensity" : 0.01,
        "monsterType" : "largebiped",
        "monsterParameters" : {
          "aggressive" : true
        }
      },
      {
        "dayLevelAdjustment" : [0.0, 0.2],
        "nightLevelAdjustment" : [0.0, 0.2],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.01,
        "monsterType" : "smallquadruped",
        "monsterParameters" : {
          "aggressive" : true
        }
      },
      //flying
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "air",
          "region" : "exposed",
          "time" : "day"
        },

        "targetDensity" : 0.001,
        "monsterType" : "smallflying",
        "monsterParameters" : {
          "aggressive" : true
        }
      },
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "air",
          "region" : "exposed",
          "time" : "night"
        },

        "targetDensity" : 0.001,
        "monsterType" : "smallflying",
        "monsterParameters" : {
          "aggressive" : false
        }
      },
      //fish
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "liquid",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.06,
        "monsterType" : "fish",
        "monsterParameters" : {
          "aggressive" : false
        }
      },
      {
        "dayLevelAdjustment" : [0.0, 0.0],
        "nightLevelAdjustment" : [0.0, 0.0],

        "spawnParameters" : {
          "area" : "liquid",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.06,
        "monsterType" : "fish",
        "monsterParameters" : {
          "aggressive" : false
        }
      }
    ],
//=============================================================================
    "surfaceairless1" : [
      //ground
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.01,
        "monsterType" : "largequadruped",
        "monsterParameters" : {
          "aggressive" : true
        }
      },
      {
        "dayLevelAdjustment" : [0.0, 0.0],
        "nightLevelAdjustment" : [0.0, 0.0],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.01,
        "monsterType" : "smallbiped",
        "monsterParameters" : {
          "aggressive" : false
        }
      },
      //fish
      {
        "dayLevelAdjustment" : [0.0, 0.0],
        "nightLevelAdjustment" : [0.0, 0.0],

        "spawnParameters" : {
          "area" : "liquid",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.05,
        "monsterType" : "fish",
        "monsterParameters" : {
          "aggressive" : false
        }
      }
    ],
//=============================================================================
    "surfaceairless2" : [
      //ground
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.01,
        "monsterType" : "largebiped",
        "monsterParameters" : {
          "aggressive" : true
        }
      },
      {
        "dayLevelAdjustment" : [0.0, 0.0],
        "nightLevelAdjustment" : [0.0, 0.0],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.01,
        "monsterType" : "smallquadruped",
        "monsterParameters" : {
          "aggressive" : false
        }
      },
      //fish
      {
        "dayLevelAdjustment" : [0.0, 0.0],
        "nightLevelAdjustment" : [0.0, 0.0],

        "spawnParameters" : {
          "area" : "liquid",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.05,
        "monsterType" : "fish",
        "monsterParameters" : {
          "aggressive" : false
        }
      }
    ],
//=============================================================================
    "surfaceairless3" : [
      //ground
      {
        "dayLevelAdjustment" : [-0.1, 0.1],
        "nightLevelAdjustment" : [0.0, 0.25],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "exposed",
          "time" : "all"
        },

        "targetDensity" : 0.01,
        "monsterType" : "largequadruped",
        "monsterParameters" : {
          "aggressive" : false
        }
      },
      {
        "dayLevelAdjustment" : [0.0, 0.0],
        "nightLevelAdjustment" : [0.0, 0.0],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "enclosed",
          "time" : "all"
        },

        "targetDensity" : 0.01,
        "monsterType" : "smallquadruped",
        "monsterParameters" : {
          "aggressive" : true
        }
      },
      //fish
      {
        "dayLevelAdjustment" : [0.0, 0.0],
        "nightLevelAdjustment" : [0.0, 0.0],

        "spawnParameters" : {
          "area" : "liquid",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.05,
        "monsterType" : "fish",
        "monsterParameters" : {
          "aggressive" : false
        }
      }
    ],
//=============================================================================
    "undergroundmix1" : [
      //ground
      {
        "dayLevelAdjustment" : [0.0, 0.2],
        "nightLevelAdjustment" : [0.0, 0.2],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.05,
        "monsterType" : "smallbiped",
        "monsterParameters" : {
          "aggressive" : false
        }
      },
      {
        "dayLevelAdjustment" : [0.0, 0.2],
        "nightLevelAdjustment" : [0.0, 0.2],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.05,
        "monsterType" : "smallquadruped",
        "monsterParameters" : {
          "aggressive" : true
        }
      },
      //fish
      {
        "dayLevelAdjustment" : [0.0, 0.0],
        "nightLevelAdjustment" : [0.0, 0.0],

        "spawnParameters" : {
          "area" : "liquid",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.04,
        "monsterType" : "fish",
        "monsterParameters" : {
          "aggressive" : false
        }
      },
      {
        "dayLevelAdjustment" : [0.0, 0.0],
        "nightLevelAdjustment" : [0.0, 0.0],

        "spawnParameters" : {
          "area" : "liquid",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.04,
        "monsterType" : "fish",
        "monsterParameters" : {
          "aggressive" : false
        }
      }
    ],
//=============================================================================
    "undergroundmix2" : [
      //ground
      {
        "dayLevelAdjustment" : [0.0, 0.2],
        "nightLevelAdjustment" : [0.0, 0.2],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.05,
        "monsterType" : "smallbiped",
        "monsterParameters" : {
          "aggressive" : true
        }
      },
      {
        "dayLevelAdjustment" : [0.0, 0.2],
        "nightLevelAdjustment" : [0.0, 0.2],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.05,
        "monsterType" : "smallquadruped",
        "monsterParameters" : {
          "aggressive" : false
        }
      },
      //fish
      {
        "dayLevelAdjustment" : [0.0, 0.0],
        "nightLevelAdjustment" : [0.0, 0.0],

        "spawnParameters" : {
          "area" : "liquid",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.04,
        "monsterType" : "fish",
        "monsterParameters" : {
          "aggressive" : false
        }
      },
      {
        "dayLevelAdjustment" : [0.0, 0.0],
        "nightLevelAdjustment" : [0.0, 0.0],

        "spawnParameters" : {
          "area" : "liquid",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.04,
        "monsterType" : "fish",
        "monsterParameters" : {
          "aggressive" : false
        }
      }
    ],
//=============================================================================
    "undergroundmix3" : [
      //ground
      {
        "dayLevelAdjustment" : [0.0, 0.2],
        "nightLevelAdjustment" : [0.0, 0.2],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.05,
        "monsterType" : "smallbiped",
        "monsterParameters" : {
          "aggressive" : false
        }
      },
      {
        "dayLevelAdjustment" : [0.0, 0.2],
        "nightLevelAdjustment" : [0.0, 0.2],

        "spawnParameters" : {
          "area" : "surface",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.05,
        "monsterType" : "largequadruped",
        "monsterParameters" : {
          "aggressive" : true
        }
      },
      //fish
      {
        "dayLevelAdjustment" : [0.0, 0.0],
        "nightLevelAdjustment" : [0.0, 0.0],

        "spawnParameters" : {
          "area" : "liquid",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.04,
        "monsterType" : "fish",
        "monsterParameters" : {
          "aggressive" : false
        }
      },
      {
        "dayLevelAdjustment" : [0.0, 0.0],
        "nightLevelAdjustment" : [0.0, 0.0],

        "spawnParameters" : {
          "area" : "liquid",
          "region" : "all",
          "time" : "all"
        },

        "targetDensity" : 0.04,
        "monsterType" : "fish",
        "monsterParameters" : {
          "aggressive" : false
        }
      }
    ]
  }
}
