{
  "startAtLoad" : false,
  "kind" : "twitch",
  "targetFps" : 30,
  "verticalFlip" : true,
  "caCertPath" : ".\\curl-ca-bundle.crt",
  "dllLoadPath" : ".",
  "username" : "",
  "password" : "",
  "audioEnabled" : true,
  "tracing" : false,
  "traceFile" : ".\\twitch.log",
  "refreshTimer" : 30.0
}
