{
  "dayLengthRange" : [800, 2000],
  "gravityRange" : [70, 90],

  "blockNoise" : {
    "horizontalNoise" : {
      "type" : "Perlin",
      "octaves" : 7,
      "frequency" : 0.0017,
      "amplitude" : 200,
      "alpha" : 1.4,
      "beta" : 2.0
    },

    "verticalNoise" : {
      "type" : "Perlin",
      "octaves" : 7,
      "frequency" : 0.002,
      "amplitude" : 80,
      "alpha" : 1.6,
      "beta" : 2.0
    },

    "noise" : {
      "type" : "Perlin",
      "octaves" : 4,
      "frequency" : 0.1,
      "amplitude" : 8,
      "alpha" : 1.8,
      "beta" : 2.0
    }
  },

  "sizes" : {
    "small" : {
      "size" : [4000, 4000],
      "description" : "small",
      "spaceLevel" : 3000,
      "surfaceLevel" : 600,
      "undergroundLevel" : 550,
      "bedrockLevel" : 460,
      "coreLevel" : 32,
      "lavaLevel" : 16,

      "blendSize" : 30,

      "detachedBiomeCount" : 1,
      "detachedBiomeRadius" : 250,

      "undergroundDetachedBiomeCount" : 10,
      "undergroundDetachedBiomeRadius" : 100,
      "undergroundDetachedBiomeHeightVariance" : 20,

      "undergroundLayers" : 2,
      "surfaceDungeonCount" : 1
    },

    "large" : {
      "size" : [6000, 4000],
      "description" : "large",
      "spaceLevel" : 3000,
      "surfaceLevel" : 1200,
      "undergroundLevel" : 1150,
      "bedrockLevel" : 1050,
      "coreLevel" : 128,
      "lavaLevel" : 60,

      "blendSize" : 50,

      "detachedBiomeCount" : 2,
      "detachedBiomeRadius" : 250,

      "undergroundDetachedBiomeCount" : 10,
      "undergroundDetachedBiomeRadius" : 150,
      "undergroundDetachedBiomeHeightVariance" : 30,

      "undergroundLayers" : 3,
      "surfaceDungeonCount" : 1
    },

    "verylarge" : {
      "size" : [8000, 5000],
      "description" : "very large",
      "spaceLevel" : 4000,
      "surfaceLevel" : 1600,
      "undergroundLevel" : 1530,
      "bedrockLevel" : 1400,
      "coreLevel" : 128,
      "lavaLevel" : 60,

      "blendSize" : 50,

      "detachedBiomeCount" : 3,
      "detachedBiomeRadius" : 250,

      "undergroundDetachedBiomeCount" : 10,
      "undergroundDetachedBiomeRadius" : 200,
      "undergroundDetachedBiomeHeightVariance" : 40,

      "undergroundLayers" : 4,
      "surfaceDungeonCount" : 1
    },

    "huge" : {
      "size" : [16000, 7000],
      "description" : "huge",
      "spaceLevel" : 5500,
      "surfaceLevel" : 3000,
      "undergroundLevel" : 2900,
      "bedrockLevel" : 2700,
      "coreLevel" : 128,
      "lavaLevel" : 60,

      "blendSize" : 50,

      "detachedBiomeCount" : 5,
      "detachedBiomeRadius" : 250,

      "undergroundDetachedBiomeCount" : 10,
      "undergroundDetachedBiomeRadius" : 400,
      "undergroundDetachedBiomeHeightVariance" : 50,

      "undergroundLayers" : 6,
      "surfaceDungeonCount" : 2
    }
  },

  "terrain" : {
    "hills" : {
      "terrainSelector" : "lowHillsSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "barren" : {
      "terrainSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "canyons" : {
      "terrainSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "chasms" : {
      "terrainSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "dunes" : {
      "terrainSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "flats" : {
      "terrainSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "totallyflat" : {
      "terrainSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "mountains" : {
      "terrainSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "islands" : {
      "terrainSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "debrisfield" : {
      "terrainSelector" : "debrisSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "denseVeins"
    },

    "wackypillars" : {
      "terrainSelector" : "pillarsSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },
  
    "undergroundCaves" : {
      "terrainSelector" : "solid",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "coreCaves" : {
      "terrainSelector" : "solid",
      // Worm caves aka normalCaves do not blend correctly yet with full caves,
      // needs a transition layer with a cave generator that does.  Replace
      // with something better or fix worm caves.
      "caveSelector" : "normalBackgroundCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "lavaBed" : {
      "terrainSelector" : "solid",
      "caveSelector" : "solid",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "empty",
      "oreSelector" : "empty"
    },

    "asteroids" : {
      "terrainSelector" : "asteroids",
      "caveSelector" : "empty",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    }
  },

  "surfaceBiomeParameters" : {

    // TIER 1

    "garden" : {
      "threatRange" : [0, 0],
      "terrain" : [ "hills" ],
      "dungeonSelection" : [
        [0, [ "naturalcave" ]]
      ]
    },

    // TIER 2

    "desert" : {
      "threatRange" : [1, 2],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "forest" : {
      "threatRange" : [1, 2],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "moon" : {
      "threatRange" : [2, 2],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "lunarbase" ]]
      ]
    },

    // TIER 3

    "ocean" : {
      "threatRange" : [3, 3],
      "terrain" : [ "flats" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "savannah" : {
      "threatRange" : [3, 3],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "snow" : {
      "threatRange" : [3, 3],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },

    // TIER 4 (cold protection)
    
    "arctic" : {
      "threatRange" : [4, 4],
      "terrain" : [ "flats" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "tundra" : {
      "threatRange" : [4, 4],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    //TODO: asteroids (how do we assign this planet type to a tier?)
    
    // TIER 5 (radiation protection)
    
    "jungle" : {
      "threatRange" : [5, 5],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    //TODO: toxic plains
    //TODO: alien world
    
    // TIER 6 (heat protection)

    "magma" : {
      "threatRange" : [6, 6],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "volcanic" : {
      "threatRange" : [6, 6],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "arid" : { //TODO: convert to 'scorched'
      "threatRange" : [6, 6],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },

    // TIER 7 (endgame)

    "tentacles" : {
      "threatRange" : [7, 7],
      "terrain" : [ "hills", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "barren" : {
      "threatRange" : [7, 7],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    }
  },

  "undergroundLayers" : [
    {
      "biomes" : [ "claylayer", "drydirtlayer", "drysandlayer", "gravellayer", "mudlayer", "sandlayer", "sandstonelayer" ],
      "detachedBiomes" : [
        [0.0, [ "mushrooms", "wilderness" ]],
        [1.5, [ "crystalcave", "cellcave", "wilderness", "tarpit", "colorfulcave", "abandonedmines", "village", "bonecaves", "fleshcave", "slimecaves", "mushrooms", "coralcave", "heck", "zen", "hive" ]]
      ],
      "terrain" : [ "undergroundCaves" ],
      "detachedTerrain" : [ "undergroundCaves" ]
    },
    {
      "biomes" : [ "rock01layer", "rock02layer", "rock03layer", "rock19layer", "rock20layer", "icecaves" ],
      "detachedBiomes" : [
         [0.0, [ "mushrooms", "wilderness" ]],
         [1.5, [ "crystalcave", "cellcave", "wilderness", "tarpit", "colorfulcave", "abandonedmines", "village", "bonecaves", "fleshcave", "slimecaves", "mushrooms", "coralcave", "heck", "zen", "hive" ]]
      ],
      "terrain" : [ "undergroundCaves" ],
      "detachedTerrain" : [ "undergroundCaves" ]
    },
    {
      "biomes" : [ "rock04layer", "rock12layer", "rock14layer", "rock15layer", "rock17layer", "icecaves" ],
      "detachedBiomes" : [
         [0.0, [ "mushrooms", "wilderness" ]],
         [1.5, [ "crystalcave", "cellcave", "wilderness", "tarpit", "colorfulcave", "abandonedmines", "village", "bonecaves", "fleshcave", "slimecaves", "mushrooms", "coralcave", "heck", "zen", "hive" ]]
      ],
      "terrain" : [ "undergroundCaves" ],
      "detachedTerrain" : [ "undergroundCaves" ]
    },
    {
      "biomes" : [ "rock04layer", "rock12layer", "rock14layer", "rock15layer", "rock17layer", "icecaves" ],
      "detachedBiomes" : [
         [0.0, [ "mushrooms", "wilderness" ]],
         [1.5, [ "crystalcave", "cellcave", "wilderness", "tarpit", "colorfulcave", "abandonedmines", "village", "bonecaves", "fleshcave", "slimecaves", "mushrooms", "coralcave", "heck", "zen", "hive" ]]
      ],
      "terrain" : [ "undergroundCaves" ],
      "detachedTerrain" : [ "undergroundCaves" ]
    },
    {
      "biomes" : [ "rock04layer", "rock12layer", "rock14layer", "rock15layer", "rock17layer", "icecaves" ],
      "detachedBiomes" : [
         [0.0, [ "mushrooms", "wilderness" ]],
         [1.5, [ "crystalcave", "cellcave", "wilderness", "tarpit", "colorfulcave", "abandonedmines", "village", "bonecaves", "fleshcave", "slimecaves", "mushrooms", "coralcave", "heck", "zen", "hive" ]]
      ],
      "terrain" : [ "undergroundCaves" ],
      "detachedTerrain" : [ "undergroundCaves" ]
    },
    {
      "biomes" : [ "rock04layer", "rock12layer", "rock14layer", "rock15layer", "rock17layer", "icecaves" ],
      "detachedBiomes" : [
         [0.0, [ "mushrooms", "wilderness" ]],
         [1.5, [ "crystalcave", "cellcave", "wilderness", "tarpit", "colorfulcave", "abandonedmines", "village", "bonecaves", "fleshcave", "slimecaves", "mushrooms", "coralcave", "heck", "zen", "hive" ]]
      ],
      "terrain" : [ "undergroundCaves" ],
      "detachedTerrain" : [ "undergroundCaves" ]
    }
  ],

  "coreBiomes" : [ "blaststonecorelayer", "magmarockcorelayer", "obsidiancorelayer" ],
  "coreBiomeTerrain" : [ "coreCaves" ],
  "lavaBedTerrain" : [ "lavaBed" ],

  "spaceBiomes" : [ "asteroids" ],
  "spaceBiomeTerrain" : [ "asteroids" ]
}
