{
  "mainWakeupInterval" : 100,
  "workerThreadRange" : [1, 8],
  "clockUpdatePacketInterval" : 500,
  "clientWaitLimit" : 40000,
  "updateMeasureWindow" : 60000,
  "storageTriggerInterval" : 60000,
  "maxBehindUpdates" : 30,

  "connectionTimeout" : 60000,
  "socketTimeout" : 60000,

  "worldInactiveShutdown" : 30000,
  "passwordSaltLength" : 128,

  "speciesShips" : {
    "apex" : ["/ships/apex/dropship.structure", "/ships/apex/apexT2.structure", "/ships/apex/apexT3.structure", "/ships/apex/apexT4.structure", "/ships/apex/apexT5.structure", "/ships/apex/apexT6.structure", "/ships/apex/apexT7.structure", "/ships/apex/apexT8.structure"],
    "avian" : ["/ships/avian/dropship.structure", "/ships/avian/avianT2.structure", "/ships/avian/avianT3.structure", "/ships/avian/avianT4.structure", "/ships/avian/avianT5.structure", "/ships/avian/avianT6.structure", "/ships/avian/avianT7.structure", "/ships/avian/avianT8.structure"],
    "floran" : ["/ships/floran/dropship.structure", "/ships/floran/floranT2.structure", "/ships/floran/floranT3.structure", "/ships/floran/floranT4.structure", "/ships/floran/floranT5.structure", "/ships/floran/floranT6.structure", "/ships/floran/floranT7.structure", "/ships/floran/floranT8.structure"],
    "human" : ["/ships/human/dropship.structure", "/ships/human/humanT2.structure", "/ships/human/humanT3.structure", "/ships/human/humanT4.structure", "/ships/human/humanT5.structure", "/ships/human/humanT6.structure", "/ships/human/humanT7.structure", "/ships/human/humanT8.structure"],
    "hylotl" : ["/ships/hylotl/dropship.structure", "/ships/hylotl/hylotlT2.structure", "/ships/hylotl/hylotlT3.structure", "/ships/hylotl/hylotlT4.structure", "/ships/hylotl/hylotlT5.structure", "/ships/hylotl/hylotlT6.structure", "/ships/hylotl/hylotlT7.structure", "/ships/hylotl/hylotlT8.structure"],
    "glitch" : ["/ships/glitch/dropship.structure", "/ships/glitch/glitchT2.structure", "/ships/glitch/glitchT3.structure", "/ships/glitch/glitchT4.structure", "/ships/glitch/glitchT5.structure", "/ships/glitch/glitchT6.structure", "/ships/glitch/glitchT7.structure", "/ships/glitch/glitchT8.structure"]
  },

  "findStarterSystemParameters" : {
    "tries" : 50,
    "range" : 150,
    "sectors" : ["alpha"],
    "worlds" : [
      {
        "biomes" : ["forest"],
        "levelRange" : [0, 1.2]
      },
      {
        "biomes" : ["desert"],
        "levelRange" : [1, 2.2]
      },
      {
        "biomes" : ["moon"],
        "levelRange" : [2, 3.2]
      }
    ]
  },

  "commandProcessorScripts" : [ ]
}
