{
  "weatherCooldownTime" : 10,
  "weatherWarmupTime" : 10,

  "clear" : [
    [1.0, "clear" ]
  ],

  // rain

  "alwaysRaining" : [
    [1.0, "rain" ]
  ],

  "commonLightRainMixAndGlowingRain" : [
    [0.1, "rain" ],
    [0.05, "storm" ],
    [0.025, "glowingrain" ],
    [0.125, "drizzle" ],
    [0.7, "clear" ]
  ],

  "commonLightRainMixAndWindstorm" : [
    [0.1, "rain" ],
    [0.05, "storm" ],
    [0.025, "windstorm" ],
    [0.125, "drizzle" ],
    [0.7, "clear" ]
  ],
  
  "commonLightRainMixAndGroundmist" : [
    [0.1, "rain" ],
    [0.05, "storm" ],
    [0.025, "groundmist" ],
    [0.125, "drizzle" ],
    [0.7, "clear" ]
  ],

  "commonLightRainMixAndHail" : [
    [0.1, "rain" ],
    [0.1, "fog" ],
    [0.05, "storm" ],
    [0.025, "hailstones" ],
    [0.125, "drizzle" ],
    [0.6, "clear" ]
  ],

  "commonFog" : [
    [0.2, "fog" ],
    [0.8, "clear" ]
  ],
  
  "commonGroundmist" : [
    [0.2, "groundmist" ],
    [0.8, "clear" ]
  ],

  // acid rain

  "rareAcidRain" : [
    [0.05, "acidrain" ],
    [0.95, "clear" ]
  ],
  
  "veryCommonAcidRain" : [
    [0.55, "acidrain" ],
    [0.55, "clear" ]
  ],

  // odd ball

  "commonAsh" : [
    [0.25, "ash" ],
    [0.75, "clear" ]
  ],

  "uncommonGlowingRain" : [
    [0.1, "glowingrain" ],
    [0.9, "clear" ]
  ],

  "uncommonSpacedust" : [
    [0.1, "spacedustshower" ],
    [0.9, "clear" ]
  ],

  "commonEmber" : [
    [0.25, "ember" ],
    [0.75, "clear" ]
  ],

  "rareEmber" : [
    [0.05, "ember" ],
    [0.95, "clear" ]
  ],

  "rareSpacejunk" : [
    [0.02, "spacejunk" ],
    [0.98, "clear" ]
  ],

  // sandstorm

  "veryCommonSandstorm" : [
    [0.8, "sandstorm" ],
    [0.2, "clear" ]
  ],

  "commonSandstorm" : [
    [0.25, "sandstorm" ],
    [0.75, "clear" ]
  ],
  
  // snow

  "veryCommonSnow" : [
    [0.7, "snow" ],
    [0.3, "clear" ]
  ],
  
  "uncommonSnow" : [
    [0.1, "snow" ],
    [0.9, "clear" ]
  ],

  "veryCommonSnowAndSpacedust" : [
    [0.6, "snow" ],
    [0.3, "clear" ],
    [0.1, "spacedustshower" ]
  ],

  "veryCommonSnowAndSnowstorm" : [
    [0.6, "snow" ],
    [0.3, "clear" ],
    [0.1, "snowstorm" ]
  ],

  "commonSnowAndSnowstorm" : [
    [0.25, "snow" ],
    [0.15, "snowstorm" ],
    [0.6, "clear" ]
  ],

  "veryCommonSnowstorm" : [
    [0.9, "snowstorm" ],
    [0.1, "clear" ]
  ],

  "commonSnowAndHail" : [
    [0.25, "hailstones" ],
    [0.25, "snow" ],
    [0.5, "clear" ]
  ],

  "commonSnowAndIcestorm" : [
    [0.2, "icestorm" ],
    [0.5, "snow" ],
    [0.3, "clear" ]
  ],

  // meteor

  "uncommonMeteorShower" : [
    [0.03, "meteorshower" ],
    [0.97, "clear" ]
  ],

  "rareMeteorShower" : [
    [0.005, "meteorshower" ],
    [0.995, "clear" ]
  ],

  "rareLargeMeteorShower" : [
      [0.01, "largemeteor" ],
      [0.99, "clear" ]
  ],

  "veryRareLargeMeteorShower" : [
    [0.001, "largemeteor" ],
    [0.999, "clear" ]
  ]

}
