{
  "blockCacheSize" : 50000,

  "planetGenCacheSize" : 50,

  "dayLengthRange" : [800, 2000],
  "gravityRange" : [70, 90],

  "biomeHorizontalNoise" : {
    "type" : "Perlin",
    "octaves" : 7,
    "frequency" : 0.0017,
    "amplitude" : 200,
    "alpha" : 1.4,
    "beta" : 2.0
  },

  "biomeVerticalNoise" : {
    "type" : "Perlin",
    "octaves" : 7,
    "frequency" : 0.002,
    "amplitude" : 80,
    "alpha" : 1.6,
    "beta" : 2.0
  },

  "biomeNoise" : {
    "type" : "Perlin",
    "octaves" : 4,
    "frequency" : 0.1,
    "amplitude" : 8,
    "alpha" : 1.8,
    "beta" : 2.0
  },

  "planetSizes" : {
    "small" : {
      "size" : [4000, 4000],
      "description" : "small",
      "surfaceLevel" : 600,
      "undergroundLevel" : 550,
      "bedrockLevel" : 460,
      "lavaLevel" : 32,
      "spaceBoundary" : 3000,

      "blendSize" : 60,
      "deadZoneSize" : 0,

      "detachedBiomeCount" : 1,
      "detachedBiomeRadius" : 220,

      "undergroundDetachedBiomeCount" : 6,
      "undergroundDetachedBiomeRadius" : 500,
      "undergroundDetachedBiomeEnvironmentRadius" : 510,
      "undergroundDetachedBiomeHeightVariance" : 20,
      "undergroundDetachedBiomeCaveFactor" : 1.0,

      "undergroundLayers" : 1,
      "surfaceDungeonCount" : 1
    },

    "large" : {
      "size" : [6016, 4000],
      "description" : "large",
      "surfaceLevel" : 1200,
      "undergroundLevel" : 1150,
      "bedrockLevel" : 1050,
      "lavaLevel" : 128,
      "spaceBoundary" : 3000,

      "blendSize" : 60,
      "deadZoneSize" : 0,

      "detachedBiomeCount" : 5,
      "detachedBiomeRadius" : 250,

      "undergroundDetachedBiomeCount" : 6,
      "undergroundDetachedBiomeRadius" : 600,
      "undergroundDetachedBiomeEnvironmentRadius" : 610,
      "undergroundDetachedBiomeHeightVariance" : 20,
      "undergroundDetachedBiomeCaveFactor" : 1.0,

      "undergroundLayers" : 2,
      "surfaceDungeonCount" : 1
    },

    "verylarge" : {
      "size" : [8000, 4992],
      "description" : "very large",
      "surfaceLevel" : 1600,
      "undergroundLevel" : 1530,
      "bedrockLevel" : 1400,
      "lavaLevel" : 128,
      "spaceBoundary" : 4000,

      "blendSize" : 60,
      "deadZoneSize" : 0,

      "detachedBiomeCount" : 6,
      "detachedBiomeRadius" : 280,

      "undergroundDetachedBiomeCount" : 6,
      "undergroundDetachedBiomeRadius" : 700,
      "undergroundDetachedBiomeEnvironmentRadius" : 710,
      "undergroundDetachedBiomeHeightVariance" : 40,
      "undergroundDetachedBiomeCaveFactor" : 1.0,

      "undergroundLayers" : 2,
      "surfaceDungeonCount" : 1
    },

    "huge" : {
      "size" : [16000, 7008],
      "description" : "huge",
      "surfaceLevel" : 3000,
      "undergroundLevel" : 2900,
      "bedrockLevel" : 2700,
      "lavaLevel" : 128,
      "spaceBoundary" : 5500,

      "blendSize" : 60,
      "deadZoneSize" : 0,

      "detachedBiomeCount" : 7,
      "detachedBiomeRadius" : 310,

      "undergroundDetachedBiomeCount" : 6,
      "undergroundDetachedBiomeRadius" : 800,
      "undergroundDetachedBiomeEnvironmentRadius" : 810,
      "undergroundDetachedBiomeHeightVariance" : 40,
      "undergroundDetachedBiomeCaveFactor" : 1.0,

      "undergroundLayers" : 3,
      "surfaceDungeonCount" : 2
    },

    "debrisField" : {
      "size" : [6016, 4000],
      "description" : "large",
      "surfaceLevel" : 0,
      "undergroundLevel" : -100,
      "bedrockLevel" : 0,
      "lavaLevel" : -100,
      "spaceBoundary" : 4000,

      "blendSize" : 1,
      "deadZoneSize" : 0,

      "detachedBiomeCount" : 5,
      "detachedBiomeRadius" : 250,

      "undergroundDetachedBiomeCount" : 6,
      "undergroundDetachedBiomeRadius" : 600,
      "undergroundDetachedBiomeEnvironmentRadius" : 610,
      "undergroundDetachedBiomeHeightVariance" : 20,
      "undergroundDetachedBiomeCaveFactor" : 1.0,

      "undergroundLayers" : 0,
      "surfaceDungeonCount" : 0
    },

    "outpost" : {
      "size" : [768, 4000],
      "description" : "outpost",
      "surfaceLevel" : 1000,
      "undergroundLevel" : -100,
      "bedrockLevel" : -100,
      "lavaLevel" : -100,
      "spaceBoundary" : 4000,

      "blendSize" : 1,
      "deadZoneSize" : 0,

      "detachedBiomeCount" : 5,
      "detachedBiomeRadius" : 250,

      "undergroundDetachedBiomeCount" : 6,
      "undergroundDetachedBiomeRadius" : 600,
      "undergroundDetachedBiomeEnvironmentRadius" : 610,
      "undergroundDetachedBiomeHeightVariance" : 20,
      "undergroundDetachedBiomeCaveFactor" : 1.0,

      "undergroundLayers" : 0,
      "surfaceDungeonCount" : 1
    }
  },

  "surfaceTerrain" : {
    "hills" : {
      "surfaceSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "barren" : {
      "surfaceSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "canyons" : {
      "surfaceSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "chasms" : {
      "surfaceSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "dunes" : {
      "surfaceSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "flats" : {
      "surfaceSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "totallyflat" : {
      "surfaceSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "mountains" : {
      "surfaceSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "islands" : {
      "surfaceSelector" : "normalSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "debrisfield" : {
      "surfaceSelector" : "debrisSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "denseVeins"
    },

    "wackypillars" : {
      "surfaceSelector" : "pillarsSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },
	
	"outposthills" : {
      "surfaceSelector" : "outposthills",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "denseVeins"
    }
  },

  "undergroundTerrain" : {
    "undergroundCaves" : {
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },
    "undergroundasteroids" : {
      "caveSelector" : "undergroundasteroids",
      "bgCaveSelector" : "undergroundasteroids",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    }
  },

  "spaceTerrain" : {
    "asteroids" : {
      "floatingTerrainSelector" : "asteroids",
      "caveSelector" : "solidbackground",
      "bgCaveSelector" : "solidbackground",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    }
  },

  "surfaceBiomeParameters" : {
    "arid" : {
      "threatRange" : [3, 6],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "arctic" : {
      "threatRange" : [3, 6],
      "terrain" : [ "flats" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "ocean" : {
      "threatRange" : [1, 5],
      "terrain" : [ "flats" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "desert" : {
      "threatRange" : [1, 5],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "savannah" : {
      "threatRange" : [2, 5],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "forest" : {
      "threatRange" : [0, 3],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "snow" : {
      "threatRange" : [2, 5],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "moon" : {
      "threatRange" : [2, 6],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "jungle" : {
      "threatRange" : [4, 7],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "grasslands" : {
      "threatRange" : [1, 4],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "magma" : {
      "threatRange" : [7, 10],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "tentacles" : {
      "threatRange" : [7, 10],
      "terrain" : [ "hills", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "tundra" : {
      "threatRange" : [6, 9],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "volcanic" : {
      "threatRange" : [7, 10],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "barren" : {
      "threatRange" : [5, 8],
      "terrain" : [ "hills", "dunes", "canyons", "flats", "mountains", "barren" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "asteroidfield" : {
      "threatRange" : [6, 9],
      "terrain" : [ "debrisfield" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
	
	"outpost" : {
      "threatRange" : [1, 10],
      "terrain" : [ "outposthills" ],
      "dungeonSelection" : [
        [0, [ "outpost" ]]
      ]
    }
  },

  "undergroundLayers" : [
    {
      "biomes" : [ "claylayer", "drydirtlayer", "drysandlayer", "gravellayer", "mudlayer", "sandlayer", "sandstonelayer" ],
      "detachedBiomes" : [ "crystalcave", "cellcave", "wilderness", "tarpit", "colorfulcave", "abandonedmines", "village", "bonecaves", "fleshcave", "slimecaves", "mushrooms", "coralcave", "heck", "zen", "hive" ],
      "terrain" : [ "undergroundCaves" ]
    },
    {
      "biomes" : [ "rock01layer", "rock02layer", "rock03layer", "rock19layer", "rock20layer", "icecaves" ],
      "detachedBiomes" : [ "crystalcave", "cellcave", "wilderness", "tarpit", "colorfulcave", "abandonedmines", "village", "bonecaves", "fleshcave", "slimecaves", "mushrooms", "coralcave", "heck", "zen", "hive" ],
      "terrain" : [ "undergroundCaves" ]
    },
    {
      "biomes" : [ "rock04layer", "rock12layer", "rock14layer", "rock15layer", "rock17layer", "icecaves" ],
      "detachedBiomes" : [ "crystalcave", "cellcave", "wilderness", "tarpit", "colorfulcave", "abandonedmines", "village", "bonecaves", "fleshcave", "slimecaves", "mushrooms", "coralcave", "heck", "zen", "hive" ],
      "terrain" : [ "undergroundCaves" ]
    }
  ],

  "coreBiomes" : [ "blaststonecorelayer", "magmarockcorelayer", "obsidiancorelayer" ],
  "coreBiomeTerrain" : [ "undergroundCaves" ],

  "spaceBiomes" : [ "asteroids" ],
  "spaceBiomeTerrain" : [ "asteroids" ],

  "spawnDungeon" : true,
  "spawnNoDungeonReserve" : [32, 8],
  "spawnRegion" : false,
  "spawnRegionFlatSurface" : false,
  "spawnFlatSurfaceRadius" : 2,
  "spawnDungeonNearSpawn" : false,
  "spawnDungeonNearSpawnMaxRadius" : 300,
  "spawnDungeonSpawnMinRadius" : 100,
  "spawnMicroDungeonExclusion" : true
}
