{
  "refreshInterval" : 2.0,
  "initialcodex" : {
    "glitch" : [ "controls", "glitchprologue", "glitchorigins", "glitchnotes", "survivalguide" ],
    "human" : [ "controls", "humanprologue", "humanorigins", "humanescape", "survivalguide" ],
    "avian" : [ "controls", "avianprologue", "avianorigins", "aviannotes", "survivalguide" ],
    "apex" : [ "controls", "apexprologue", "apexorigins", "apexplea", "survivalguide" ],
    "floran" : [ "controls", "floranprologue", "floranorigins", "floranambition", "survivalguide" ],
    "hylotl" : [ "controls", "hylotlprologue", "hylotlorigins", "hylotldirective", "survivalguide" ],
    "novakid" : [ "controls" ]
  }
}
