{
  "background" : {
    "type" : "background",
    "fileHeader" : "",
    "fileBody" : "/interface/title/multiplayerbackground.png",
    "fileFooter" : ""
  },
  "connect" : {
    "type" : "button",
    "base" : "/interface/title/joinserverUp.png",
    "hover" : "/interface/title/joinserverOver.png",
    "position" : [27, 71],
    "caption" : ""
  },
  "address" : {
    "type" : "textbox",
    "position" : [110, 74],
    "hint" : "server address",
    "border" : true,
    "textAlign" : "center",
    "enterKey" : "connect",
    "maxWidth" : 90,
    "focus" : true
  },
  "account" : {
    "type" : "textbox",
    "position" : [110, 56],
    "hint" : "server account",
    "border" : true,
    "textAlign" : "center",
    "enterKey" : "connect",
    "maxWidth" : 90
  },
  "password" : {
    "type" : "textbox",
    "position" : [110, 38],
    "hint" : "server password",
    "border" : true,
    "textAlign" : "center",
    "enterKey" : "connect",
    "maxWidth" : 90
  }
}
