{
  "denseLarge" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 8,
    "modulusVariance" : 4,

    "densityPeriod" : 30,
    "densityOffset" : 0.5,

    "typePeriod" : 20
  },

  "denseMedium" : {
    "type" : "periodic",

    "octaves" : 3,
    "alpha" : 1.2,
    "beta" : 3.0,

    "modulus" : 3,
    "modulusVariance" : 1,

    "densityPeriod" : 30,
    "densityOffset" : 0.4,

    "typePeriod" : 20
  },

  "denseSmall" : {
    "type" : "periodic",

    "octaves" : 3,
    "alpha" : 1.2,
    "beta" : 3.0,

    "modulus" : 1,
    "modulusVariance" : 0,

    "densityPeriod" : 20,
    "densityOffset" : 0.3,

    "typePeriod" : 16
  },

  "scatteredSmall" : {
    "type" : "periodic",

    "octaves" : 3,
    "alpha" : 1.2,
    "beta" : 3.0,

    "modulus" : 5,
    "modulusVariance" : 8,

    "densityPeriod" : 20,
    "densityOffset" : 0.3,

    "typePeriod" : 16
  },

  "scatteredPots" : {
    "type" : "random",

    "blockProbability" : 0.01
  },

  "scatteredLarge" : {
    "type" : "periodic",

    "octaves" : 3,
    "alpha" : 1.2,
    "beta" : 3.0,

    "modulus" : 9,
    "modulusVariance" : 8,

    "densityPeriod" : 20,
    "densityOffset" : 0.3,

    "typePeriod" : 16
  },

  "rareClumpySmall" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 4,
    "modulusVariance" : 3,

    "densityPeriod" : 10,
    "densityOffset" : -0.3,

    "typePeriod" : 10
  },

  "rareClumpyLarge" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 8,
    "modulusVariance" : 4,

    "densityPeriod" : 10,
    "densityOffset" : -0.4,

    "typePeriod" : 10
  },

  "potsRare" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 12,
    "modulusVariance" : 4,

    "densityPeriod" : 4,
    "densityOffset" : -0.4,

    "typePeriod" : 10
  },

  "tiyDist" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 8,
    "modulusVariance" : 2,

    "densityPeriod" : 200,
    "densityOffset" : -0.23,

    "typePeriod" : 40
  },

  "tiyDistRare" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 8,
    "modulusVariance" : 2,

    "densityPeriod" : 40,
    "densityOffset" : -0.5,

    "typePeriod" : 40
  },

  "tiyDistPlatform" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 180,
    "modulusVariance" : 0,

    "densityPeriod" : 45,
    "densityOffset" : 0.1,

    "typePeriod" : 40
  },

  "tiyDistTerrainfeatures" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 180,
    "modulusVariance" : 0,

    "densityPeriod" : 45,
    "densityOffset" : 0.1,

    "typePeriod" : 40
  },

  "randomEncounter" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 180,
    "modulusVariance" : 0,

    "densityPeriod" : 45,
    "densityOffset" : 0.1,

    "typePeriod" : 40
  },

  "randomEncounterUnderground" : {
    "type" : "random",

    "blockProbability" : 0.0007
  },

  "rareItems" : {
    "type" : "random",

    "blockProbability" : 0.001
  },

  "minibossoverground" : {
    "type" : "random",

    "blockProbability" : 0.0005
  },

  "undergroundChests" : {
    "type" : "random",

    "blockProbability" : 0.002
  },

  "undergroundtechChests" : {
    "type" : "random",

    "blockProbability" : 0.0005
  },

  "layer1Chests" : {
    "type" : "random",

    "blockProbability" : 0.003
  },

  "layer2Chests" : {
    "type" : "random",

    "blockProbability" : 0.004
  },

  "layer3Chests" : {
    "type" : "random",

    "blockProbability" : 0.005
  },

  "minibiomeChests" : {
    "type" : "random",

    "blockProbability" : 0.0025
  },

  "overgroundChests" : {
    "type" : "random",

    "blockProbability" : 0.0007
  },

  "hazardUndergroundCeilingTop" : {
    "type" : "random",

    "blockProbability" : 0.04
  },

  "hazardUndergroundCeilingMid" : {
    "type" : "random",

    "blockProbability" : 0.08
  },

  "hazardUndergroundCeilingLower" : {
    "type" : "random",

    "blockProbability" : 0.12
  },

  "hazardUndergroundCeilingCore" : {
    "type" : "random",

    "blockProbability" : 0.16
  },

  "hazardUndergroundTop" : {
    "type" : "random",

    "blockProbability" : 0.016
  },

  "hazardUndergroundMid" : {
    "type" : "random",

    "blockProbability" : 0.02
  },

  "hazardUndergroundLower" : {
    "type" : "random",

    "blockProbability" : 0.024
  },

  "hazardUndergroundCore" : {
    "type" : "random",

    "blockProbability" : 0.028
  },

  "superCommon" : {
    "type" : "random",

    "blockProbability" : 1.0
  },

  "veryRareItem" : {
    "type" : "random",

    "blockProbability" : 0.00035
  }
}
