{
  "penguintankround" : {
    "projectileType" : "penguintankround",
    "projectileParams" : {
      "speed" : 12,
      "power" : 25
    },

    "fireTime" : 0.13,
    "fireDt" : 0.13,
    "cooldown" : 1.0,

    "muzzleFlash" : {
      "animation" : "/animations/muzzleflash/tankflashmuzzle/tankflashmuzzle.animation",
      "fireSound" : [ ]
    }
  }
}
