{
  "pulsecannon" : {
    "projectileType" : "penguinufocharge",
    "projectileParams" : {
      "speed" : 0,
      "power" : 30,
      "actionOnReap" : [
        {
          "action" : "projectile",
          "type" : "pulsecannon",
          "direction" : [0.0, -1.0]
        }
      ]
    },

    "fireTime" : 5.0,
    "fireDt" : 0.6,
    "cooldown" : 0.25
  },

  "tankspawn" : {
    "projectileType" : "penguinufocharge",
    "projectileParams" : {
      "speed" : 0,
      "power" : 20,
      "actionOnReap" : [
        {
          "action" : "projectile",
          "type" : "penguinufobeam",
          "direction" : [0.0, -1.0],
          "config" : {
            "movementSettings" : {
              "gravityMultiplier" : 0.0,
              "bounceFactor" : 0.0,
              "maxMovementPerStep" : 0.4,
              "maximumCorrection" : 999, //0.9, 

              "collisionPoly" : [ [-3.0, -2.875], [2.0, -2.875], [2.0, 2.875], [-2.0, 2.875] ],
              "ignorePlatformCollision" : true,

              "airFriction" : 0.0,
              "liquidFriction" : 0.0
            },
            "actionOnReap" : [
              {
                "action" : "spawnmonster",
                "type" : "penguinTank",
                "offset" : [-0.5, -1.25],
                "particle" : {
                  "type" : "animated",
                  "animation" : "/animations/penguintankspawn/penguintankspawn.animation",
                  "destructionTime" : 15,
                  "timeToLive" : 0.2667,
                  "layer" : "front"
                }
              }
            ]
          }
        }
      ]
    },

    "fireTime" : 0.25,
    "fireDt" : 0.25,
    "cooldown" : 0.75
  },

  "trooperspawn" : {
    "projectileType" : "penguinufocharge",
    "projectileParams" : {
      "speed" : 0,
      "power" : 20,
      "actionOnReap" : [
        {
          "action" : "projectile",
          "type" : "penguinufobeam",
          "direction" : [0.0, -1.0],
          "config" : {
            "movementSettings" : {
              "gravityMultiplier" : 0.0,
              "bounceFactor" : 0.0,
              "maxMovementPerStep" : 0.4,
              "maximumCorrection" : 999, //0.9, 

              "collisionPoly" : [ [-0.5, -2.875], [0.5, -2.875], [0.5, 2.875], [-0.5, 2.875] ],
              "ignorePlatformCollision" : true,

              "airFriction" : 0.0,
              "liquidFriction" : 0.0
            },
            "actionOnReap" : [
              {
                "action" : "spawnmonster",
                "type" : "penguintrooper",
                "offset" : [0.0, -1.5],
                "particle" : {
                  "type" : "animated",
                  "animation" : "/animations/penguintrooperspawn/penguintrooperspawn.animation",
                  "destructionTime" : 15,
                  "timeToLive" : 0.2667,
                  "layer" : "front"
                }
              }
            ]
          }
        }
      ]
    },

    "fireTime" : 0.25,
    "fireDt" : 0.25,
    "cooldown" : 0.75
  },

  "rockettrooperspawn" : {
    "projectileType" : "penguinufocharge",
    "projectileParams" : {
      "speed" : 0,
      "power" : 20,
      "actionOnReap" : [
        {
          "action" : "projectile",
          "type" : "penguinufobeam",
          "direction" : [0.0, -1.0],
          "config" : {
            "movementSettings" : {
              "gravityMultiplier" : 0.0,
              "bounceFactor" : 0.0,
              "maxMovementPerStep" : 0.4,
              "maximumCorrection" : 999, //0.9, 

              "collisionPoly" : [ [-0.5, -2.875], [0.5, -2.875], [0.5, 2.875], [-0.5, 2.875] ],
              "ignorePlatformCollision" : true,

              "airFriction" : 0.0,
              "liquidFriction" : 0.0
            },
            "actionOnReap" : [
              {
                "action" : "spawnmonster",
                "type" : "penguinrockettrooper",
                "offset" : [0.0, -1.5],
                "particle" : {
                  "type" : "animated",
                  "animation" : "/animations/penguintrooperspawn/penguintrooperspawn.animation",
                  "destructionTime" : 15,
                  "timeToLive" : 0.2667,
                  "layer" : "front"
                }
              }
            ]
          }
        }
      ]
    },

    "fireTime" : 0.25,
    "fireDt" : 0.25,
    "cooldown" : 0.75
  },

  "generalspawn" : {
    "projectileType" : "penguinufocharge",
    "projectileParams" : {
      "speed" : 0,
      "power" : 20,
      "actionOnReap" : [
        {
          "action" : "projectile",
          "type" : "penguinufobeam",
          "direction" : [0.0, -1.0],
          "config" : {
            "movementSettings" : {
              "gravityMultiplier" : 0.0,
              "bounceFactor" : 0.0,
              "maxMovementPerStep" : 0.4,
              "maximumCorrection" : 999, //0.9, 

              "collisionPoly" : [ [-0.5, -2.875], [0.5, -2.875], [0.5, 2.875], [-0.5, 2.875] ],
              "ignorePlatformCollision" : true,

              "airFriction" : 0.0,
              "liquidFriction" : 0.0
            },
            "actionOnReap" : [
              {
                "action" : "spawnmonster",
                "type" : "penguingeneral",
                "offset" : [0.0, -1.5],
                "particle" : {
                  "type" : "animated",
                  "animation" : "/animations/penguingeneralspawn/penguingeneralspawn.animation",
                  "destructionTime" : 15,
                  "timeToLive" : 0.2667,
                  "layer" : "front"
                }
              }
            ]
          }
        }
      ]
    },

    "fireTime" : 0.25,
    "fireDt" : 0.25,
    "cooldown" : 0.75
  },

  "deathexplosion" : {
    "projectileType" : "regularexplosion2",
    "projectileParams" : {
      "speed" : 0,
      "power" : 2,

      "actionOnReap" : [
        {
          "action" : "config",
          "file" : "/projectiles/explosions/regularexplosion2/regularexplosion2.config"
        }
      ]
    },

    "fireTime" : 8.0,
    "fireDt" : 0.2,
    "cooldown" : 0.1
  },

  "blockbreaker" : {
    "projectileType" : "invisibleprojectile",
    "projectileParams" : {
      "speed" : 0,
      "power" : 0,

      "actionOnReap" : [
        {
          "action" : "explosion",
          "foregroundRadius" : 6,
          "backgroundRadius" : 0,
          "explosiveDamageAmount" : 100,
          "delaySteps" : 1
        }
      ]
    },

    "fireTime" : 0.2,
    "fireDt" : 0.1,
    "cooldown" : 0.1
  }
}
