{
  "namegen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Moss ", "Mossy ", "Overgrown ", "Undergrowth ", "Green ", "Fuzzy ", "Growth " ],
      [ { "mode" : "alts" }, "Blocker", "Deflector", "Guard", "Shield", "Buckler", "Cover", "Protector", "Kill-stopper", "Arrowguard", "Dinnertray", "Smasheriser", "Coverer", "Annoyance", "Bladeblocker", "Hammerhalter", "Axeaffector", "Spearstopper", "Daggerdeflector" ]
    ]
  ]
}
