{
  "guiConfig" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/ai/header.png",
      "fileBody" : "/interface/ai/body.png",
      "fileFooter" : "/interface/ai/footer.png"
    },
    "aiIcon" : {
      "zlevel" : 1,
      "type" : "image",
      "file" : "/interface/ai/aiicon.png",
      "position" : [2, 181]
    },
    "showTech" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/showtechup.png",
      "hover" : "/interface/ai/showtechover.png",
      "pressed" : "/interface/ai/showtechdown.png",
      "position" : [10, 49],
      "pressedOffset" : [0, 0]
    },
    "show3dPrint" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/letme3dup.png",
      "hover" : "/interface/ai/letme3dover.png",
      "pressed" : "/interface/ai/letme3ddown.png",
      "position" : [95, 49],
      "pressedOffset" : [0, 0]
    },
    "nextArrow" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/next.png",
      "hover" : "/interface/ai/nextOver.png",
      "pressed" : "/interface/ai/nextDown.png",
      "position" : [255, 136],
      "pressedOffset" : [0, 0]
    },
    "prevArrow" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/prev.png",
      "hover" : "/interface/ai/prevOver.png",
      "pressed" : "/interface/ai/prevDown.png",
      "position" : [235, 136],
      "pressedOffset" : [0, 0]
    },
    "goodbye" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/goodbyeup.png",
      "hover" : "/interface/ai/goodbyeover.png",
      "pressed" : "/interface/ai/goodbyedown.png",
      "position" : [180, 49],
      "pressedOffset" : [0, 0]
    },
    "aiFaceCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [7, 79, 97, 173]
    },
    "aiTextScrollArea" : {
      "zlevel" : 1,
      "type" : "scrollArea",
      "horizontalScroll" : false,
      "verticalScroll" : false,
      "rect" : [110, 144, 269, 171],
      "children" : {
        "aiText" : {
          "type" : "label",
          "color" : [174, 225, 238, 255],
          "hAnchor" : "left",
          "vAnchor" : "bottom",
          "position" : [2, 2],
          "wrapWidth" : 158,
          "lineSpacing" : 1.0
        }
      }
    },
    "aiActionScrollArea" : {
      "type" : "scrollArea",
      "rect" : [108, 82, 272, 132],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [162, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [21, 11],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [1, 1],
                "callback" : "null"
              },
              "level" : {
                "type" : "label",
                "position" : [138, 9],
                "hAnchor" : "mid",
                "value" : "Lvl. 100"
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [126, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [138, 1],
                "hAnchor" : "left",
                "value" : "0"
              }
            }
          }
        }
      }
    }
  },

  "aiAnimations" : {
    "idle" : {
      "frames" : "<image>:idle.<index>",
      "mode" : "loopForever",
      "frameNumber" : 1,
      "centered" : false
    },

    "blink" : {
      "frames" : "<image>:blink.<index>",
      "mode" : "stop",
      "frameNumber" : 1,
      "centered" : false
    },

    "talk" : {
      "frames" : "<image>:talk.<index>",
      "mode" : "loopForever",
      "frameNumber" : 2,
      "animationCycle" : 0.5,
      "centered" : false
    },

    "yell" : {
      "frames" : "<image>:yell.<index>",
      "mode" : "loopForever",
      "frameNumber" : 2,
      "animationCycle" : 0.5,
      "centered" : false
    },

    "refuse" : {
      "frames" : "<image>:refuse.<index>",
      "mode" : "loopForever",
      "frameNumber" : 8,
      "centered" : false
    },

    "unique" : {
      "frames" : "<image>:unique.<index>",
      "mode" : "loopForever",
      "frameNumber" : 8,
      "centered" : false
    }
  },

  "staticAnimation" : {
    "frames" : "<image>:<index>",
    "mode" : "loopForever",
    "animationCycle" : 0.111,
    "frameNumber" : 4,
    "centered" : false
  },

  "scanlineAnimation" : {
    "frames" : "scanlines.png:<index>",
    "mode" : "loopForever",
    "animationCycle" : 0.999,
    "frameNumber" : 14,
    "centered" : false
  },

  "charactersPerSecond" : 20,

  "species" : {
    "apex" : {
      "aiFrames" : "apexAi.png",
      "staticFrames" : "staticApexHylotl.png"
    },
    "avian" : {
      "aiFrames" : "avianAi.png",
      "staticFrames" : "staticAvian.png"
    },
    "floran" : {
      "aiFrames" : "floranAi.png",
      "staticFrames" : "staticAvian.png"
    },
    "glitch" : {
      "aiFrames" : "glitchAi.png",
      "staticFrames" : "staticGlitch.png"
    },
    "human" : {
      "aiFrames" : "humanAi.png",
      "staticFrames" : "staticHuman.png"
    },
    "hylotl" : {
      "aiFrames" : "hylotlAi.png",
      "staticFrames" : "staticApexHylotl.png"
    }
  },

  "staticOpacity" : 0.2,
  "scanlineOpacity" : 0.5
}
