{
  "guiConfig" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/ai/header.png",
      "fileBody" : "/interface/ai/body.png",
      "fileFooter" : "/interface/ai/footer.png"
    },
    "showTech" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/showtechup.png",
      "hover" : "/interface/ai/showtechover.png",
      "pressed" : "/interface/ai/showtechdown.png",
      "position" : [10, 49],
      "pressedOffset" : [0, 0]
    },
    "show3dPrint" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/letme3dup.png",
      "hover" : "/interface/ai/letme3dover.png",
      "pressed" : "/interface/ai/letme3ddown.png",
      "position" : [95, 49],
      "pressedOffset" : [0, 0]
    },
    "goodbye" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/goodbyeup.png",
      "hover" : "/interface/ai/goodbyeover.png",
      "pressed" : "/interface/ai/goodbyedown.png",
      "position" : [180, 49],
      "pressedOffset" : [0, 0]
    },
    "aiFaceCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [9, 82, 95, 171]
    },
    "scrollArea" : {
      "zlevel" : 1,
      "type" : "scrollArea",
      "rect" : [109, 144, 269, 171],
      "children" : {
        "aiSpeechText" : {
          "type" : "label",
          "hAnchor" : "left",
          "vAnchor" : "top",
          "position" : [1, 24],
          "wrapWidth" : 152,
          "lineSpacing" : 1.0
        }
      }
    }
  }
}
