{
  "guiConfig" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/ai/header.png",
      "fileBody" : "/interface/ai/body.png",
      "fileFooter" : "/interface/ai/footer.png"
    },
    "aiIcon" : {
      "zlevel" : 1,
      "type" : "image",
      "file" : "/interface/ai/aiicon.png",
      "position" : [2, 181]
    },
    "showTech" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/showtechup.png",
      "hover" : "/interface/ai/showtechover.png",
      "pressed" : "/interface/ai/showtechdown.png",
      "position" : [10, 49],
      "pressedOffset" : [0, 0]
    },
    "show3dPrint" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/letme3dup.png",
      "hover" : "/interface/ai/letme3dover.png",
      "pressed" : "/interface/ai/letme3ddown.png",
      "position" : [95, 49],
      "pressedOffset" : [0, 0]
    },
    "nextArrow" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/next.png",
      "hover" : "/interface/ai/nextOver.png",
      "pressed" : "/interface/ai/nextDown.png",
      "position" : [255, 136],
	  "callback" : "null",
      "pressedOffset" : [0, 0]
    },
    "prevArrow" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/prev.png",
      "hover" : "/interface/ai/prevOver.png",
      "pressed" : "/interface/ai/prevDown.png",
      "position" : [235, 136],
	  "callback" : "null",
      "pressedOffset" : [0, 0]
    },
    "goodbye" : {
      "zlevel" : 1,
      "type" : "button",
      "base" : "/interface/ai/goodbyeup.png",
      "hover" : "/interface/ai/goodbyeover.png",
      "pressed" : "/interface/ai/goodbyedown.png",
      "position" : [180, 49],
      "pressedOffset" : [0, 0]
    },
    "aiFaceCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [7, 79, 97, 173]
    },
    "scrollArea" : {
      "zlevel" : 1,
      "type" : "scrollArea",
      "rect" : [110, 144, 269, 171],
      "children" : {
        "aiSpeechText" : {
          "type" : "label",
          "color" : [174, 225, 238, 255],
          "hAnchor" : "left",
          "vAnchor" : "top",
          "position" : [1, 24],
          "wrapWidth" : 152,
          "lineSpacing" : 1.0
        }
      }
    }
  },

  "aiAnimations" : {
    "idle" : {
      "frames" : "<image>:idle.<index>",
      "mode" : "loopForever",
      "frameNumber" : 1,
      "centered" : false
    },

    "blink" : {
      "frames" : "<image>:blink.<index>",
      "mode" : "stop",
      "frameNumber" : 1,
      "centered" : false
    },

    "talk" : {
      "frames" : "<image>:talk.<index>",
      "mode" : "loopForever",
      "frameNumber" : 2,
      "animationCycle" : 0.5,
      "centered" : false
    },

    "yell" : {
      "frames" : "<image>:yell.<index>",
      "mode" : "loopForever",
      "frameNumber" : 2,
      "animationCycle" : 0.5,
      "centered" : false
    },

    "refuse" : {
      "frames" : "<image>:refuse.<index>",
      "mode" : "loopForever",
      "frameNumber" : 8,
      "centered" : false
    },

    "unique" : {
      "frames" : "<image>:unique.<index>",
      "mode" : "loopForever",
      "frameNumber" : 8,
      "centered" : false
    }
  },

  "staticAnimation" : {
    "frames" : "<image>:<index>",
    "mode" : "loopForever",
    "animationCycle" : 0.111,
    "frameNumber" : 4,
    "centered" : false
  },

  "scanlineAnimation" : {
    "frames" : "scanlines.png:<index>",
    "mode" : "loopForever",
    "animationCycle" : 0.999,
    "frameNumber" : 14,
    "centered" : false
  },

  "charactersPerSecond" : 20,

  "species" : {
    "apex" : {
      "aiFrames" : "apexAi.png",
      "staticFrames" : "staticApexHylotl.png"
    },
    "avian" : {
      "aiFrames" : "avianAi.png",
      "staticFrames" : "staticAvian.png"
    },
    "floran" : {
      "aiFrames" : "floranAi.png",
      "staticFrames" : "staticAvian.png"
    },
    "glitch" : {
      "aiFrames" : "glitchAi.png",
      "staticFrames" : "staticGlitch.png"
    },
    "human" : {
      "aiFrames" : "humanAi.png",
      "staticFrames" : "staticHuman.png"
    },
    "hylotl" : {
      "aiFrames" : "hylotlAi.png",
      "staticFrames" : "staticApexHylotl.png"
    }
  },

  "staticOpacity" : 0.2,
  "scanlineOpacity" : 0.5,

  "sampleText" :
"Now, this is a story all about how My life got flipped-turned upside down And I'd like to take a minute Just sit right there I'll tell you how I became the prince of a town called Bel Air

In west Philadelphia born and raised On the playground was where I spent most of my days Chillin' out maxin' relaxin' all cool And all shootin some b-ball outside of the school When a couple of guys who were up to no good Started making trouble in my neighborhood I got in one little fight and my mom got scared She said 'You're movin' with your auntie and uncle in Bel Air'

I begged and pleaded with her day after day But she packed my suit case and sent me on my way She gave me a kiss and then she gave me my ticket.  I put my Walkman on and said, 'I might as well kick it'.

First class, yo this is bad Drinking orange juice out of a champagne glass.  Is this what the people of Bel-Air living like?  Hmmmmm this might be alright.

But wait I hear they're prissy, bourgeois, all that Is this the type of place that they just send this cool cat?  I don't think so I'll see when I get there I hope they're prepared for the prince of Bel-Air

Well, the plane landed and when I came out There was a dude who looked like a cop standing there with my name out I ain't trying to get arrested yet I just got here I sprang with the quickness like lightning, disappeared

I whistled for a cab and when it came near The license plate said fresh and it had dice in the mirror If anything I could say that this cab was rare But I thought 'Nah, forget it' - 'Yo, homes to Bel Air'

I pulled up to the house about 7 or 8 And I yelled to the cabbie 'Yo homes smell ya later' I looked at my kingdom I was finally there To sit on my throne as the Prince of Bel Air"

}
