{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.5,
      "type" : "bonechain1"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/shotgun4.wav" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 5,
      "delaySteps" : 2
    }

  ]
}
